{% load static %}

/* css code for index.html */

/* reset browser default spacings */
* {
    margin: 0;
    padding: 0;
    font-family: "yekan"; /* apply font Yekan */
    direction: rtl;
}

/* Background color */
body {
    background: #fafafa;
}

/*Header of pages*/
header{
    border-left: 100px solid #fafafa;
    border-right: 100px solid #fafafa;

    background: #fafafa;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 53px;
}

header img {
    display: inline-block;
    margin-left: 10px;
}

#header-menu-logo{
    margin-top: 0px;
    top: 0px;
}

#header-enter-logo{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    float: right;
    top: +20px;
}

.header-logo{
    margin-top: 0px;
    padding-top: 0px;
}

/* list of buttons in header */
.header-menu-button {
    color: black;
    font-size: 16px;
    background: #fafafa;
    border: none;  /* we don't want any borders */
    margin-right: 30px;
}


.header-menu-button:hover {
    color: #fb815e;
}

/* enter button -*/
.header-enter-button {
    color: #007bff;
    font-size: 24px;
    background: #ededed;
    border: none;  /* we don't want any borders */
    padding: 0 10px;
    margin-top: 30px;
    border-radius: 12px;

    float: left;

}

.header-enter-button:hover{
    color: #fa5a2c;
}

/* Search bar */
#searchBar{
    background-color: #1780df;
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 100px 150px;
    padding: 53px;
    font-size: 16px;
    align-content: center;
    align-items: center;
    border-radius: 30px;
}

#search-title{
    color: white;
    font-size: 40px;
    text-align: center;
    border: 50px;
    margin-bottom: 50px;
}

#search-button{
    color: white;
    background-color: #fb815e;
    font-size: 16px;
    padding: 24px 48px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 15px;
    border: none;
}

#search-button:hover{
    background-color: #fa5a2c;
}

/* Search box */
#search-box{
    position: relative;
    right: +250px;
    padding: 0;
    text-align: center;
    background-color: #fafafa;
    margin: 0;
    display: table;
    align-items: center;
    align-content: center;
    border-radius: 20px;
}

#search-select-city{
    padding: 0 16px 0 15px;
    background-color: #fafafa;
}

#search-select-city{
    border: none;
    font-size: 16px;
    color: #6e7794;
}

#search-select-city option{
    background-color: #fafafa;
}

#search-select-input{
    padding: 24px 200px;
    margin: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: #6e7794 solid;
    border-top: none;
    border-right: none;
    border-bottom: none;

    background-color: #fafafa;
}

#search-img-location{
    background-color: white;

}

/*Specialization section*/
#specializations{
    border-left: 150px solid #fafafa;
    border-right: 150px solid #fafafa;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#specialization-top-panel{
    display: inline;
}

#specialization-title{
    float: right;
    color: #3B4157;
    font-size: 16px;
    margin: 0 0 8px;
}

#specialization-show-all{
    float: left;
    color: #1780df;
    background: #fafafa;
    font-size: 14px;
    border: none;
}

#specialization-show-all:hover{
    color: #fa5a2c;
    background: #fafafa;
}

/*List of specializations*/
#specialization-bottom-panel{
    float: bottom;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 40px;
}

.special-card{
    font-size: 16px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 0 8px;
    text-align: center;
    background-color: white;

}

.special-card:hover{
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}

.special-card img{
    float: top;
    padding: 0 8px;
}

.special-card p{
    float: bottom;
    margin-top: 24px ;
    color: #3b4157;
}

.special-card-top{
    padding: 0 8px;
    margin-top: 10px;
    border-radius: 5px;
}

#special-card-top-orthopedics{
    background-color: #e8c9fd;
}

#special-card-top-urology{
    background-color: #fcbaba;
}

#special-card-top-hair{
    background-color: #b3e8ca;
}

#special-card-top-woman{
    background-color: #abc2d8;
}

#special-card-top-internal{
    background-color: #fbcbee;
}

#special-card-top-ear{
    background-color: #c5e1fb;
}

#special-card-top-brain{
    background-color: #fdcdb0;
}

/*Comments section*/
#comments{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    padding: 48px 0;
    margin-top: 100px;

    border-left: 150px solid #fafafa;
    border-right: 150px solid #fafafa;
}

#comments-right-container{
    align-content: center;
    align-items: center;
    display: flex;
}

#comments-right-main-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#comments-title{
    font-size: 20px;
    margin: 0 0 8px;
    padding: 16px 0;
    color: #3B4157;
}

#comments-info{
    font-size: 14px;
    color: #6e7794;
    padding-left: 48px;
}

/* Quote of a user */
#comments-quote-container{
    border: 1px solid #1780df;
    background-color: #e5f2fe;
    border-radius: 20px;
    height: 370px;
    display: grid;
    margin: 0 50px;
    padding: 0 25px;
    grid-template-rows: 0 3fr 2fr;

    position: relative;
    z-index: -1;
}

#comments-image-quote{
    width: 50px;
    height: 50px;
    float: top;

    position: relative;
    top: -25px;
}

#comments-text{
    font-size: 16px;
    float: inside;
    margin-top: 50px;
}

#comments-doctor-container{
    border-top: dashed #6e7794 2px;
    float: bottom;
    display: grid;
    grid-template-columns: 1fr 3fr 6fr;
    align-items: center;
    align-content: center;
}

#comments-doctor-name{
    font-size: 14px;
    margin: auto;

}

#comments-doctor-special{
    font-size: 16px;
    margin: auto;

}

#comments-doctor-image{
    width: 75px;
    height: 75px;
    margin: auto;

}

/*Other comments */
#comments-show-other-comments{
    background-color: #fb815e;
    color: white;
    font-size: 14px;
    padding: 6px 24px;
    margin: auto;
    border-radius: 10px;
    border: none;
    text-align: center;
}

#comments-show-other-comments:hover{
    background-color: #fa5a2c;
}

#comments-owner-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    direction: ltr;
    margin-left: 75px;
}

#comments-owner{
    text-align: left;
    width: 30%;
}

#comments-triangle{
    width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #e5f2fe;
    position: relative;
    top: -5px;
    z-index: +5;
}

#comments-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    width: 20%;
    align-items: center;
    align-content: center;
    color: #cdcdcd;
}

#comments-list li:hover{
    color: #1780df;
}

/*Services section */
#services{
    background-color: #007bff;
    margin: 0 0 100px;
    color: white;
}

#services-title{
    font-size: 28px;
    text-align: center;
    margin: 48px 0 64px;
}

#services-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
}

.services-container{
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}

.services-container img{
    width: 255px;
    height: 200px;
}

.services-container h5{
    font-size: 18px;
    margin: 24px 0;
}

.services-container p{
    font-size: 14px;
    width: 250px;
    text-align: center;
    position: relative;
}

.services-container button{
    background-color: #fb815e;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: white;
    padding: 16px;
    font-weight: bold;
}

.services-container button:hover{
    background-color: #fa5a2c;
}

/* Download section */
#download{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 200px;
    margin-top: 50px;

    border-left: 150px solid #fafafa;
    border-right: 150px solid #fafafa;
}

/* Download using application */
#download-left-container{
    margin-left: 100px;
    margin-top: 100px;
}

#download-app{
    margin-right: 250px;
}


#download-title{
    font-size: 20px;
    font-weight: bold;
    color: #3B4157;
    margin-bottom: 8px;
    padding-bottom: 16px;
}

#download-info{
    font-size: 16px;
    color: #6e7794;
    margin-bottom: 16px;
}

/*Download using phone*/
#download-right-container{
    margin-right: 100px;
}

#download-phone-button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-top: 24px;
}

#download-phone-info{
    font-size: 16px;
    font-weight: bold;
    color: #3B4157;
    margin-bottom: 16px;
}

#download-phone-button{
    background-color: #fb815e;
    color: white;
    padding: 16px;
    border-radius: 10px;
    border: none;
}

#download-phone-button:hover{
    background-color: #fa5a2c;
}

#download-phone-input{
    border-radius: 10px;
    border: #6e7794 solid;
}

/*Footer section*/
footer{
    margin-top: 100px;
    background-color: #1780df;
    color: white;
}

#footer-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer-title-container{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#footer-title-container p{
    text-align: center;
    vertical-align: middle;
    horiz-align: center;
    width: 300px;
    font-size: 14px;
    display: table-cell;
    padding: 8px 24px;
}


/*Center container of footer*/
#footer-center-container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.footer-a-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
}

.footer-a-container a{
    border-top: white solid;
    text-align: center;
    padding: 10px;
}

#footer-image-list{
    margin-right: 20%;
}

#footer-img-container img{
    margin: 50px 130px 35px 0;
}

#footer-horizon-line{
    background-color: white;
    width: 1px;
    height: 150px;
    margin-right: 50%;
}
/* Submission for more news */
#footer-submission-container{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#footer-submission-info{
    text-align: center;
    vertical-align: middle;
    horiz-align: center;
}


#footer-secure-container{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer-name-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer-name-container input{
    border-radius: 5px;
    padding: 6px 12px;
}

#footer-submission-email{
    border-radius: 5px;
    padding: 6px 12px;
    width: 92.5%;
}

#footer-submission-container button{
    background-color: #fb815e;
    color: white;
    padding: 16px;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-top: 10px;
}

#footer-submission-container button:hover{
    background-color: #fa5a2c;
}
