{% load static}

* {
    margin: 0;
    padding: 0;
    font-family: "yekan"; /* apply font Yekan */
    direction: rtl;
}

body{
    position: fixed;
    width: 500px;
    height: 200px;
    top: 40%;
    left: 35%;
    background: #fafafa;

}

#buttons_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

button{
    background-color: #fb815e;
    text-align: center;
    color: white;
    padding: 32px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
}

button:hover{
    background-color: #fa5a2c;
}