{% load static %}

/* reset browser default spacings */
* {
    /*margin: 0 !important;;*/
    /*padding: 0 !important;;*/
    font-family: "yekan"; /* apply font Yekan */
    direction: rtl !important;
}

/* Background color */
body {
    background: #fafafa;
}

/*Header of pages*/
header{
    border-left: 100px solid #fafafa;
    border-right: 100px solid #fafafa;

    background: white !important;
}

header img {
    display: inline-block;
    margin-left: 10px;
    background: white !important;
}

#header-menu-logo{
    margin-top: 0px;
    top: 0px;
}

#header-enter-logo{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    float: right;
    top: +20px;
}

.header-logo{
    margin-top: 0px;
    padding-top: 0px;
    background: white !important;
}

/* list of buttons in header */
.header-menu-button {
    color: black;
    font-size: 16px;
    background: white !important;
    border: none;  /* we don't want any borders */
    margin-right: 30px;
}


.header-menu-button:hover {
    color: #fb815e;
}

/* enter button -*/
.header-enter-button {
    color: #007bff;
    font-size: 24px;
    background: #ededed;
    border: none;  /* we don't want any borders */
    padding: 0 10px;
    margin-top: 30px;
    border-radius: 12px;

    float: left;

}

.header-enter-button:hover{
    color: #fa5a2c;
}

/* SOURCE: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*End of source*/

/* More background colors append to bootstrap */
.bg-x-blue{
    background-color: #1780df;
}

.bg-x-ice-blue{
    background-color: #e5f2fe !important;
}

.bg-x-gray{
    background-color: #fafafa;
}


/* More spacing append to bootstrap*/

.pt-20{
   padding-top: 20px !important;
}

.pb-20{
   padding-bottom: 20px !important;
}

.w-90{
    width: 90% !important;
}

.w-95{
    width: 95% !important;
}

/* More border append to bootstrap */
.no-border{
    border: none !important;
}

.rounded-10{
    border-radius: 10px !important;
}

.rounded-20{
    border-radius: 20px;
}

.border-x-light-gray{
    border: lightgrey solid;
}

/* More color append to bootstrap*/
.color-x-gray{
    color: #6e7794 !important;
}

.color-x-green{
    color: #4dcc6b !important;
}

.color-x-blue{
    color: #1780df;
}

/* Button styles */
.button-x-orange{
    background-color: #fb815e !important;
    color: white !important;
    border: none;
    border-radius: 10px;
}

.button-x-orange:hover{
    background-color: #fa5a2c !important;
}

#title-section{
    padding-left: 150px;
    width: 100% !important;
}

*::placeholder {
    text-align: right !important;
}

/* More display*/
.gris-3{
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 50%;
}

.gris-3-l{
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 30%;

}

.grid-3-s-l{
    display: grid !important;
    grid-template-columns: 4fr 1fr !important;
    grid-gap: 10%;
}

/* Hover for specialist container */
.hover-border-orange:hover{
    border: #fa5a2c solid;
}

/* Font size */
.text-16{
    font-size: 16px !important;
}

.text-32{
    font-size: 32px !important;
}

.text-20{
    font-size: 20px !important;
}

.border-radius-50{
    border-radius: 50%;
}