{% load static %}

/* css code for patient_login.html */

/* reset browser default spacings */
* {
    margin: 0;
    padding: 0;
    font-family: "yekan" /* apply font Yekan */;
    direction: rtl;
}

/* Fill whole of page */
html{
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    width: 100%;
}

/*title section*/
#title{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1780df;
    color: white;
    height: 100%;
    margin-bottom: 300px;
}

#title-main-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50%;

}

#title h4{
    font-size: 22px;
    margin-top: 20px;
    position: relative;
    top: +50px;
}

#title h5{
    font-size: 16px;
    margin-top: 48px;
}

#title img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: +40px;
}

/* enter section */
#enter{
    display: flex;
    justify-content: center;
    align-items: center;

}

#enter-main-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 50%;
    height: 50%;
}

#enter-main-container h5{
    margin: 48px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #3B4157;
}

#enter-main-container input{
    padding: 12px 0;
}

/*#enter label{*/
    /*position: relative;*/
    /*top: +150px;*/
    /*right: -230px;*/
    /*background-color: white;*/
    /*margin: auto;*/
    /*color: #6e7794;*/
    /*padding: 0 8px;*/
/*}*/

#enter-confirm-button{
    color: white;
    background-color: #fb815e;
    padding: 16px;
    font-size: 16px;
    margin-top: 24px;
    border: none;
    border-radius: 10px;
}

#enter-introduce-button{
    border: #fb815e solid;
    background-color: white;
    color: #fb815e;
    font-size: 16px;
    padding: 16px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#enter-introduce-button:hover{
    color: white;
    background-color: #fb815e;
}

#login-form{
    display: grid !important;
    grid-template-rows: 1fr 1fr 1fr !important;
}


