{% load static %}


* {
    margin: 0;
    padding: 0;
    font-family: "yekan"; /* apply font Yekan */
    direction: rtl!important;
}

body{
    position: fixed;
    width: 500px;
    height: 200px;
    top: 10%;
    left: 35%;
    background: #1780df !important;
}

button{
    background-color: #fb815e;
    text-align: center;
    color: white;
    padding: 32px;
    font-weight: bold;
    border-style: none;
    border-radius: 30px;
}

button:hover{
    background-color: #fa5a2c;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#button-div{
    display: grid;
    grid-template-columns: 1fr;
}