{% load static %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <title>{{specialist.name}}</title>
    <link rel="icon" href="../static/favicon.ico" type="image/ico">
    <link href="../static/Main.css" rel="stylesheet">
    <link href="../static/style/doctor.css" rel="stylesheet">
    <script type="text/javascript" src="../static/scripts/doctors.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        window.onload = function() {
            set_data("{{ specialist.pk }}");
        };
    </script>
    <meta charset="UTF-8">
</head>
<body>

<!-- Header of page -->
<div class="flexDisplay container h100 bgWhite">

    <!-- darmankede Logo for go to main page -->
    <div class="w15 mAuto isLink">
        <a href="/"><img src="../static/images/4.png" alt="درمانکده"></a>
    </div>

    <!-- list of the pages in the header : لیست تخصص ها ، مشاوره آنلاین ، مجله پزشکی ، عضویت پزشکان و کرونا سازمانی -->
    <div class="inlineDisplay mAuto">
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="/medical_specialists" >
                <img class="back" src="../static/header/list.png" style="width: 20px;">
                <img class="top" src="../static/header/list-orange.png" style="width: 20px;">
                لیست تخصص ها
            </a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="/">
                <img class="back" src="../static/header/wifi.png" style="width: 20px;">
                <img class="top" src="../static/header/wifi-orange.png" style="width: 20px;">
                مشاوره آنلاین</a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="/">
                <img class="back" src="../static/header/book.png" style="width: 20px;">
                <img class="top" src="../static/header/book-orange.png" style="width: 20px;">
                مجله پزشکی</a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="/">
                <img class="back" src="../static/header/add-user.png" style="width: 20px;">
                <img class="top" src="../static/header/add-user-orange.png" style="width: 20px;">
                عضویت پزشکان</a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="/">
                <img class="back" src="../static/header/box.png" style="width: 20px;">
                <img class="top" src="../static/header/box-orange.png" style="width: 20px;">
                کرونا سازمانی</a>
        </div>
    </div>

    <!-- دکمه ورود -->
    <div class="flexDisplay mAuto flexEnd w15">
        <div>
            <a class = "bgGray txt16 txtBlue pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" onclick="redirect_to_login()">ورود
                <img class="back" src="../static/header/loginBlue.svg" style="width: 20px; color: #1780df">
                <img class="top" src="../static/header/login-orange.png" style="width: 20px; color: #1780df">
            </a>
        </div>
    </div>

</div>

<div id="way" class="centrized">
    <div id="way-1" class="blue-inline-text">  درمانکده &#62;</div>
    <div id="way-2" class="blue-inline-text">    	&#62; </div>
    <div id="way-3" style="display: inline; color: #6e7794;" >  </div>
</div>

<div id="middle-Part" class="centrized" >
    <div>
        <div id="middle-Part-drInfo">
            <div id="middle-Part-drInfo-top">

                <div id="middle-Part-drInfo-top-share">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="hover-p text-white  feather feather-share-2" data-v-58d4bfc9=""><circle cx="18" cy="5" r="3" data-v-58d4bfc9=""></circle><circle cx="6" cy="12" r="3" data-v-58d4bfc9=""></circle><circle cx="18" cy="19" r="3" data-v-58d4bfc9=""></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49" ></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49" ></line></svg>
                </div>

                <!-- empty -->
                <div></div>

                <div id="middle-Part-drInfo-top-middleColumn"></div>

                <!-- empty -->
                <div></div>

                <div id="middle-Part-drInfo-top-like">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="bookmark__heart--hover feather feather-heart text-white" data-v-390d7861=""><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" data-v-390d7861=""></path></svg>
                </div>
            </div>

            <div id="middle-Part-drInfo-bottom">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="m-1 w-100 feather feather-book" data-v-543f147a=""><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20" data-v-543f147a=""></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z" data-v-543f147a=""></path></svg>
                    <p>تجربه</p>
                    <p id="experience"></p>
                </div>

                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="m-1 w-100 feather feather-clock" data-v-543f147a=""><circle cx="12" cy="12" r="10" data-v-543f147a=""></circle><polyline points="12 6 12 12 16 14" data-v-543f147a=""></polyline></svg>
                    <p>اولین نوبت آزاد</p>
                    <p id="first-empty-date"></p>
                </div>

                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="m-1 w-100 feather feather-credit-card" data-v-543f147a=""><rect x="1" y="4" width="22" height="16" rx="2" ry="2" data-v-543f147a=""></rect><line x1="1" y1="10" x2="23" y2="10" data-v-543f147a=""></line></svg>
                    <p>پرداخت آنلاین</p>
                    <p id="online-pay">دارد/ندارد</p>
                </div>

            </div>

            <div id="new-comment-div">
                <button id="new-comment-button" onclick="new_comment({{ specialist.pk }})">نظر بدید!</button>
            </div>
        </div>
    </div>

    <div>


<!--        <div id="middle-Part-firstbox">-->
<!--            <div id="middle-Part-firstbox-top">-->
<!--                <button id="middle-Part-firstbox-top-blue" data-v-e915a394="" type="button" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle w-100 text-white font-weight-bold bg-water-blue rounded-5">-->
<!--                    مطب چهارراه پونک-->
<!--                    <div style="display: inline-block; transform: rotate(-90deg);" >-->
<!--                        &#62;-->
<!--                    </div>-->
<!--                </button>-->
<!--            </div>-->

<!--            <div id="middle-Part-firstbox-date">-->

<!--                <div id="middle-Part-firstbox-date-days">-->

<!--                    <div class="middle-Part-firstbox-date-dayClass">-->
<!--                        <p>شنبه</p>-->
<!--                        <p>19 </p>-->
<!--                        <p>آذر</p>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-firstbox-date-dayClass">-->
<!--                        <p>شنبه</p>-->
<!--                        <p>19 </p>-->
<!--                        <p>آذر</p>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-firstbox-date-dayClass">-->
<!--                        <p>شنبه</p>-->
<!--                        <p>19 </p>-->
<!--                        <p>آذر</p>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-firstbox-date-dayClass">-->
<!--                        <p>شنبه</p>-->
<!--                        <p>19 </p>-->
<!--                        <p>آذر</p>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-firstbox-date-dayClass">-->
<!--                        <p>شنبه</p>-->
<!--                        <p>19 </p>-->
<!--                        <p>آذر</p>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-firstbox-date-dayClass">-->
<!--                        <p>شنبه</p>-->
<!--                        <p>19 </p>-->
<!--                        <p>آذر</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div id="first-orange-button" class="orange-button">-->

<!--                    <svg class="icon icon-arrowRight" viewBox="0 0 24 24" width="24px" height="24px"><title>Arrow Right</title><path d="M0 0h24v24H0z" fill="none"></path><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path></svg>-->
<!--                </div>-->

<!--                <div id="second-orange-button" class="orange-button">-->
<!--                    <svg  class="icon icon-arrowLeft" viewBox="0 0 24 24" width="24px" height="24px"><title>Arrow Left</title><path d="M0 0h24v24H0z" fill="none"></path><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"></path></svg>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div id="middle-Part-firstbox-firstFreeTime">-->
<!--                <svg style="transform: translate(-20%,50%) ;color :#6e7794" data-v-969e2d1a="" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-steel feather feather-clock"><circle data-v-969e2d1a="" cx="12" cy="12" r="10"></circle><polyline data-v-969e2d1a="" points="12 6 12 12 16 14"></polyline></svg>-->
<!--                <p style="display: inline; padding-top: 20%;" >ساعت های نوبت دوشنبه یک دی</p>-->
<!--                <button style="right: 2.5%;top: 50%;"> 6:00  </button>-->
<!--                <button style="right: 20%;top: 50%;"> 16:00  </button>-->
<!--            </div>-->
<!--        </div>-->


        <!-- اطلاعات مطب کاربر ونظرات -->
        <div id="middle-Part-commentFirst" class="whiteClass">
            <div id="middle-Part-commentFirst-rightSide">
                <div>
                    <p id="rate" style="font-size: 25px; margin-top: 15%; margin-bottom: 5px;">0 تا 5</p>
                    <div id="middle-Part-commentFirst-rightSide-stars" style="margin-top: 5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width=".7em" height=".7em" viewBox="0 0 24 24" fill="White" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill-blue" data-v-08f614e3=""><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" data-v-08f614e3=""></polygon></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width=".7em" height=".7em" viewBox="0 0 24 24" fill="White" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill-blue" data-v-08f614e3=""><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" data-v-08f614e3=""></polygon></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width=".7em" height=".7em" viewBox="0 0 24 24" fill="White" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill-blue" data-v-08f614e3=""><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" data-v-08f614e3=""></polygon></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width=".7em" height=".7em" viewBox="0 0 24 24" fill="White" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill-blue" data-v-08f614e3=""><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" data-v-08f614e3=""></polygon></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width=".7em" height=".7em" viewBox="0 0 24 24" fill="White" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill-blue" data-v-08f614e3=""><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" data-v-08f614e3=""></polygon></svg>
                    </div>
                    <p id="comments-number" style="color: black; font-size: 10px;">از ... نظر</p>
                </div>
            </div>
            <div id="middle-Part-commentFirst-leftSide">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle" data-v-2cb5db4b=""><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" data-v-2cb5db4b=""></path></svg>
                <div id="commenter" style="display:inline; position: relative; right:2%; top: 2%;color: #6e7794;"> نظر من</div>
                <br>
                <br>
                <div id="comment" style="color: #3b4157;font-size: 14px;">
                    خیلی عالی بود / خیلی بد بود ...
                </div>
                <div id="middle-Part-commentFirst-circles">
                    <div style="right: 35%;"></div>
                    <div style="right: 40%;"></div>
                    <div style="right: 45%;"></div>
                    <div style="right: 50%;"></div>
                </div>

                <div id="middle-Part-commentFirst-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down" data-v-2cb5db4b=""><line x1="12" y1="5" x2="12" y2="19" data-v-2cb5db4b=""></line><polyline points="19 12 12 19 5 12" data-v-2cb5db4b=""></polyline></svg>
                </div>
            </div>
        </div>

        <div id="middle-Part-loaction" class="whiteClass" >
            <div id="middle-Part-loaction-title1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-2 feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg>
                <p>اطلاعات مطب</p>
            </div>

            <div id="middle-Part-loaction-title2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-2 feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                <p>روزهای حضور</p>
            </div>

            <div>
                <div id="middle-Part-loaction-content" class="appear"  >
                    <div id="middle-Part-loaction-content-img1">
                        <img src="../static/images/doctors/map.png" width="50%" style="padding-right: 1em;" alt="">
                    </div>
                    <div id="middle-Part-loaction-content-img2" >
                    <h1 style="font-size: 12px;">آدرس مطب 1</h1>
                    <p id="address" style="font-size: 11px;">...</p>
                    <p style="position: relative; top: -7px; display: inline;">تلفن گویا</p>
                    <p id="phone" style="position: relative; top: -7px; font-size: 11px; display: inline;">09*********</p>
                </div>
                </div>
                <div id="middle-Part-loaction-content-days" class="hidden">
                    <div class="day">
                        <h4>شنبه</h4>
                        <br>
                        <svg style="color: red;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="untik hidden text-primary feather feather-x"><line data-v-723181de="" x1="18" y1="6" x2="6" y2="18"></line><line data-v-723181de="" x1="6" y1="6" x2="18" y2="18"></line></svg>
                        <svg style="color: green;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tik appear text-dark-mint feather feather-check"><polyline data-v-723181de="" points="20 6 9 17 4 12"></polyline></svg>
                    </div>
                    <div class="day">
                        <h4>یکشنبه</h4>
                        <br>
                        <svg style="color: red;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="untik hidden text-primary feather feather-x"><line data-v-723181de="" x1="18" y1="6" x2="6" y2="18"></line><line data-v-723181de="" x1="6" y1="6" x2="18" y2="18"></line></svg>
                        <svg style="color: green;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tik appear text-dark-mint feather feather-check"><polyline data-v-723181de="" points="20 6 9 17 4 12"></polyline></svg>
                    </div>
                    <div class="day">
                        <h4>دوشنبه</h4>
                        <br>
                        <svg style="color: red;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="untik hidden text-primary feather feather-x"><line data-v-723181de="" x1="18" y1="6" x2="6" y2="18"></line><line data-v-723181de="" x1="6" y1="6" x2="18" y2="18"></line></svg>
                        <svg style="color: green;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tik appear text-dark-mint feather feather-check"><polyline data-v-723181de="" points="20 6 9 17 4 12"></polyline></svg>
                    </div>
                    <div class="day">
                        <h4>سه شنبه</h4>
                        <br>
                        <svg style="color: red;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="untik hidden text-primary feather feather-x"><line data-v-723181de="" x1="18" y1="6" x2="6" y2="18"></line><line data-v-723181de="" x1="6" y1="6" x2="18" y2="18"></line></svg>
                        <svg style="color: green;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tik appear text-dark-mint feather feather-check"><polyline data-v-723181de="" points="20 6 9 17 4 12"></polyline></svg>
                    </div>
                    <div class="day">
                        <h4>چهارشنبه</h4>
                        <br>
                        <svg style="color: red;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="untik hidden text-primary feather feather-x"><line data-v-723181de="" x1="18" y1="6" x2="6" y2="18"></line><line data-v-723181de="" x1="6" y1="6" x2="18" y2="18"></line></svg>
                        <svg style="color: green;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tik appear text-dark-mint feather feather-check"><polyline data-v-723181de="" points="20 6 9 17 4 12"></polyline></svg>
                    </div>
                    <div class="day">
                        <h4>پنجشنبه</h4>
                        <br>
                        <svg style="color: red;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="untik hidden text-primary feather feather-x"><line data-v-723181de="" x1="18" y1="6" x2="6" y2="18"></line><line data-v-723181de="" x1="6" y1="6" x2="18" y2="18"></line></svg>
                        <svg style="color: green;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tik appear text-dark-mint feather feather-check"><polyline data-v-723181de="" points="20 6 9 17 4 12"></polyline></svg>
                    </div>
                    <div class="day">
                        <h4>جمعه</h4>
                        <br>
                        <svg style="color: red;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="untik hidden text-primary feather feather-x"><line data-v-723181de="" x1="18" y1="6" x2="6" y2="18"></line><line data-v-723181de="" x1="6" y1="6" x2="18" y2="18"></line></svg>
                        <svg style="color: green;" data-v-723181de="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tik appear text-dark-mint feather feather-check"><polyline data-v-723181de="" points="20 6 9 17 4 12"></polyline></svg>
                    </div>

                </div>
            </div>
        </div>




        <!-- نظر کاربران -->
        <!-- بخش بزرگ -->
<!--        <div id="middle-Part-userComments" class="whiteClass">-->
<!--            <div id="middle-Part-userComments-header">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-slate feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>-->
<!--                <div id="middle-Part-userComments-header-content">-->
<!--                    <h1 style="font-size: 12px; font-weight: bold;">نظرکاربران (تعداد کل نظر ها 52)</h1>-->
<!--                    <P style="font-size: 8px;color: #6e7794;">در این قسمت شما می توانید تجربه مراجعه کاربران دیگر به مطب آقای دکتر مهران جلالی را بخوانید.</P>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div id ="middle-Part-userComments-votes">-->

<!--                <div id="middle-Part-userComments-votes-right" >-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                    <p>امتیاز به پزشک</p>-->
<!--                    <div id="middle-Part-userComments-votes-right-points">-->
<!--                        <div id="middle-Part-userComments-votes-right-points-5" class="points-rows">-->
<!--                            <div class="points-rows-right">5ستاره</div>-->
<!--                            <div class="points-rows-progressBar">-->
<!--                                <div class="points-rows-progressBar-fill"></div>-->
<!--                            </div>-->
<!--                            <div class="points-rows-left">43</div>-->
<!--                        </div>-->

<!--                        <div id="middle-Part-userComments-votes-right-points-4" class="points-rows">-->
<!--                            <div class="points-rows-right">4ستاره</div>-->
<!--                            <div class="points-rows-progressBar">-->
<!--                                <div class="points-rows-progressBar-fill"></div>-->
<!--                            </div>-->
<!--                            <div class="points-rows-left">43</div>-->
<!--                        </div>-->

<!--                        <div id="middle-Part-userComments-votes-right-points-3" class="points-rows">-->
<!--                            <div class="points-rows-right">3ستاره</div>-->
<!--                            <div class="points-rows-progressBar">-->
<!--                                <div class="points-rows-progressBar-fill"></div>-->
<!--                            </div>-->
<!--                            <div class="points-rows-left">43</div>-->
<!--                        </div>-->

<!--                        <div id="middle-Part-userComments-votes-right-points-2" class="points-rows">-->
<!--                            <div class="points-rows-right">2ستاره</div>-->
<!--                            <div class="points-rows-progressBar">-->
<!--                                <div class="points-rows-progressBar-fill"></div>-->
<!--                            </div>-->
<!--                            <div class="points-rows-left">43</div>-->
<!--                        </div>-->

<!--                        <div id="middle-Part-userComments-votes-right-points-1" class="points-rows">-->
<!--                            <div class="points-rows-right">1ستاره</div>-->
<!--                            <div class="points-rows-progressBar">-->
<!--                                <div class="points-rows-progressBar-fill"></div>-->
<!--                            </div>-->
<!--                            <div class="points-rows-left">43</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


<!--                <div id="middle-Part-userComments-votes-left">-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-watch"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>-->
<!--                    <p>میانگین زمان انتظار برای ویزیت</p>-->
<!--                    <div id="middle-Part-userComments-votes-left-avgTime">45 دقیقه</div>-->
<!--                </div>-->



<!--            </div>-->

<!--            &lt;!&ndash; مرتب سازی &ndash;&gt;-->
<!--            <div id="middle-Part-userComments-sorting" >-->
<!--                <div id="middle-Part-userComments-sorting-grid">-->
<!--                    <div id="middle-Part-userComments-sorting-grid-rightElement">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-slate feather feather-align-right"><line x1="21" y1="10" x2="7" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="7" y2="18"></line></svg>-->
<!--                        <h1>مرتب سازی بر اساس :</h1>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-userComments-sorting-choice">جدیدترین</div>-->

<!--                    <div class="middle-Part-userComments-sorting-choice">بیشترین امتیاز</div>-->

<!--                    <div class="middle-Part-userComments-sorting-choice-active">مفید ترین نظرات</div>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; کامنت های مردمی 5 مورد &ndash;&gt;-->
<!--            <div id="middle-Part-userComments-peopleComments">-->
<!--                <div class="middle-Part-userComments-peopleComments-box" >-->
<!--                    <div class="middle-Part-userComments-peopleComments-box-header">-->
<!--                        <svg style="right: 5px ; top: 5px;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-slate feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-owner">جعفر در پاسی از شب</div>-->
<!--                        <svg style="left: 5px;top:5px ;color:green ; height:40%; widows: 40%;  " data-v-f144f462="" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer mx-auto feather feather-thumbs-up"><path data-v-f144f462="" d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-points">24</div>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-userComments-peopleComments-box-whiteSpace">-->
<!--                        <div>-->
<!--                            <h1>-->
<!--                                علت مراجعه-->
<!--                                <br>-->
<!--                                امتیاز به پزشک-->
<!--                            </h1>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p class="middle-Part-userComments-peopleComments-box-whiteSpace-reason">سر درد</p>-->
<!--                            <svg class="middle-Part-userComments-peopleComments-box-whiteSpace-starsOn" data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                        </div>-->
<!--                        <p>-->
<!--                            از طریق یکی از دوستان با آقای دکتر آشنا شدم و به ایشون مراجعه کردم خیلی برای بیمار وقت میذارن و به بهترین نحو جواب سوالات بیمار رامیدن،فعلا نوار مغز گرفتن سی تی اسکن هم باید انجام بدم و برای دکتر ببرم اون موقع میتونم درباره تشخیص و درمان آقای دکتر نظر بدم،-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->


<!--                &lt;!&ndash; تکرار المنت &ndash;&gt;-->
<!--                <div class="middle-Part-userComments-peopleComments-box" >-->
<!--                    <div class="middle-Part-userComments-peopleComments-box-header">-->
<!--                        <svg style="right: 5px ; top: 5px;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-slate feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-owner">جعفر در پاسی از شب</div>-->
<!--                        <svg style="left: 5px;top:5px ;color:green ; height:40%; widows: 40%; " data-v-f144f462="" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer mx-auto feather feather-thumbs-up"><path data-v-f144f462="" d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-points">24</div>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-userComments-peopleComments-box-whiteSpace">-->
<!--                        <div>-->
<!--                            <h1>-->
<!--                                علت مراجعه-->
<!--                                <br>-->
<!--                                امتیاز به پزشک-->
<!--                            </h1>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p class="middle-Part-userComments-peopleComments-box-whiteSpace-reason">سر درد</p>-->
<!--                            <svg class="middle-Part-userComments-peopleComments-box-whiteSpace-starsOn" data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                        </div>-->
<!--                        <p>-->
<!--                            از طریق یکی از دوستان با آقای دکتر آشنا شدم و به ایشون مراجعه کردم خیلی برای بیمار وقت میذارن و به بهترین نحو جواب سوالات بیمار رامیدن،فعلا نوار مغز گرفتن سی تی اسکن هم باید انجام بدم و برای دکتر ببرم اون موقع میتونم درباره تشخیص و درمان آقای دکتر نظر بدم،-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; تکرار المنت &ndash;&gt;-->
<!--                <div class="middle-Part-userComments-peopleComments-box" >-->
<!--                    <div class="middle-Part-userComments-peopleComments-box-header">-->
<!--                        <svg style="right: 5px ; top: 5px;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-slate feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-owner">جعفر در پاسی از شب</div>-->
<!--                        <svg style="left: 5px;top:5px ;color:green ; height:40%; widows: 40%; " data-v-f144f462="" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer mx-auto feather feather-thumbs-up"><path data-v-f144f462="" d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-points">24</div>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-userComments-peopleComments-box-whiteSpace">-->
<!--                        <div>-->
<!--                            <h1>-->
<!--                                علت مراجعه-->
<!--                                <br>-->
<!--                                امتیاز به پزشک-->
<!--                            </h1>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p class="middle-Part-userComments-peopleComments-box-whiteSpace-reason">سر درد</p>-->
<!--                            <svg class="middle-Part-userComments-peopleComments-box-whiteSpace-starsOn" data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                        </div>-->
<!--                        <p>-->
<!--                            از طریق یکی از دوستان با آقای دکتر آشنا شدم و به ایشون مراجعه کردم خیلی برای بیمار وقت میذارن و به بهترین نحو جواب سوالات بیمار رامیدن،فعلا نوار مغز گرفتن سی تی اسکن هم باید انجام بدم و برای دکتر ببرم اون موقع میتونم درباره تشخیص و درمان آقای دکتر نظر بدم،-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->


<!--                &lt;!&ndash; تکرار المنت &ndash;&gt;-->
<!--                <div class="middle-Part-userComments-peopleComments-box" >-->
<!--                    <div class="middle-Part-userComments-peopleComments-box-header">-->
<!--                        <svg style="right: 5px ; top: 5px;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-slate feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-owner">جعفر در پاسی از شب</div>-->
<!--                        <svg style="left: 5px;top:5px ;color:green ; height:40%; widows: 40%; " data-v-f144f462="" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer mx-auto feather feather-thumbs-up"><path data-v-f144f462="" d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-points">24</div>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-userComments-peopleComments-box-whiteSpace">-->
<!--                        <div>-->
<!--                            <h1>-->
<!--                                علت مراجعه-->
<!--                                <br>-->
<!--                                امتیاز به پزشک-->
<!--                            </h1>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p class="middle-Part-userComments-peopleComments-box-whiteSpace-reason">سر درد</p>-->
<!--                            <svg class="middle-Part-userComments-peopleComments-box-whiteSpace-starsOn" data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                        </div>-->
<!--                        <p>-->
<!--                            از طریق یکی از دوستان با آقای دکتر آشنا شدم و به ایشون مراجعه کردم خیلی برای بیمار وقت میذارن و به بهترین نحو جواب سوالات بیمار رامیدن،فعلا نوار مغز گرفتن سی تی اسکن هم باید انجام بدم و برای دکتر ببرم اون موقع میتونم درباره تشخیص و درمان آقای دکتر نظر بدم،-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->


<!--                &lt;!&ndash; تکرار المنت &ndash;&gt;-->
<!--                <div class="middle-Part-userComments-peopleComments-box" >-->
<!--                    <div class="middle-Part-userComments-peopleComments-box-header">-->
<!--                        <svg style="right: 5px ; top: 5px;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-slate feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-owner">جعفر در پاسی از شب</div>-->
<!--                        <svg style="left: 5px;top:5px ;color:green ; height:40%; widows: 40%; " data-v-f144f462="" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer mx-auto feather feather-thumbs-up"><path data-v-f144f462="" d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-points">24</div>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-userComments-peopleComments-box-whiteSpace">-->
<!--                        <div>-->
<!--                            <h1>-->
<!--                                علت مراجعه-->
<!--                                <br>-->
<!--                                امتیاز به پزشک-->
<!--                            </h1>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p class="middle-Part-userComments-peopleComments-box-whiteSpace-reason">سر درد</p>-->
<!--                            <svg class="middle-Part-userComments-peopleComments-box-whiteSpace-starsOn" data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                        </div>-->
<!--                        <p>-->
<!--                            از طریق یکی از دوستان با آقای دکتر آشنا شدم و به ایشون مراجعه کردم خیلی برای بیمار وقت میذارن و به بهترین نحو جواب سوالات بیمار رامیدن،فعلا نوار مغز گرفتن سی تی اسکن هم باید انجام بدم و برای دکتر ببرم اون موقع میتونم درباره تشخیص و درمان آقای دکتر نظر بدم،-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->


<!--                &lt;!&ndash; تکرار المنت &ndash;&gt;-->
<!--                <div class="middle-Part-userComments-peopleComments-box" >-->
<!--                    <div class="middle-Part-userComments-peopleComments-box-header">-->
<!--                        <svg style="right: 5px ; top: 5px;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-slate feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-owner">جعفر در پاسی از شب</div>-->
<!--                        <svg style="left: 5px;top:5px ;color:green ; height:40%; widows: 40%; " data-v-f144f462="" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer mx-auto feather feather-thumbs-up"><path data-v-f144f462="" d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>-->
<!--                        <div class="middle-Part-userComments-peopleComments-box-header-points">24</div>-->
<!--                    </div>-->

<!--                    <div class="middle-Part-userComments-peopleComments-box-whiteSpace">-->
<!--                        <div>-->
<!--                            <h1>-->
<!--                                علت مراجعه-->
<!--                                <br>-->
<!--                                امتیاز به پزشک-->
<!--                            </h1>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p class="middle-Part-userComments-peopleComments-box-whiteSpace-reason">سر درد</p>-->
<!--                            <svg class="middle-Part-userComments-peopleComments-box-whiteSpace-starsOn" data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                            <svg data-v-41e50536="" xmlns="http://www.w3.org/2000/svg" width=".8em" height=".8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="star-rating feather feather-star"><polygon data-v-41e50536="" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>-->
<!--                        </div>-->
<!--                        <p>-->
<!--                            از طریق یکی از دوستان با آقای دکتر آشنا شدم و به ایشون مراجعه کردم خیلی برای بیمار وقت میذارن و به بهترین نحو جواب سوالات بیمار رامیدن،فعلا نوار مغز گرفتن سی تی اسکن هم باید انجام بدم و برای دکتر ببرم اون موقع میتونم درباره تشخیص و درمان آقای دکتر نظر بدم،-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
</div>


<div>
    <!-- the left details in blue Box and a comment Box in side of it -->

    <!-- The Special Service Box (about Corona Virus) similar to originial site-->
    <div class="specialService bgSpecialService relPosition itemCenter flexDisplay ml50 mr50 mt20 round20">

        <!-- Title -->
        <h5 class="boldFont txtWhite txtCenter mb4 mt3 w100 txt28">
            نگران کرونا نباشید
        </h5>

        <!-- First Service -->
        <div class="ml1 txtCenter pl3 oneService">
            <a href="/" class="isLink">
                <img src="../static/images/services/service1.png" alt="pcr" class="w100">
                <h4 class="txt16 txtWhite boldFont mb15 mt15">
                    تست PCR و آنتی بادی در محل
                </h4>
                <p class="txt14 mb15 mt1 height30 txtWhite txtjustify mb15 mt1">
                    اگر در شهرهای تهران، مشهد، اصفهان، کرج، شیراز و اهواز هستید، می‌توانید بدون مراجعه به آزمایشگاه و در محل مدنظر خود آزمایش کرونا بدهید.
                </p>
                <div class="btnPCR boldFont w100 mAuto mb15">
                    درخواست آزمایش >
                </div>
            </a>
        </div>

        <!-- Second Service -->
        <div class="mr1 txtCenter pl3 oneService">
            <a href="/" class="isLink">
                <img src="../static/images/services/service2.png" alt="pcr" class="w100">
                <h4 class="txt16 txtWhite boldFont">
                    مشاوره آنلاین فوری
                </h4>
                <p class="txt14 mb15 mt1 height30 txtWhite txtjustify">
                    با تست آنلاین کرونا علائم خود را بررسی کنید و اگر مشکوک بودید میتوانید به صورت فوری با پزشکان عمومی مشاوره آنلاین داشته باشید.
                </p>
                <div class="btnPCR boldFont w100 mAuto mb15">
                    دریافت مشاوره فوری >
                </div>
            </a>
        </div>
    </div>

    <!-- the Download Box with all details -->
    <div class="mb15">
        <div class="h100 container">
            <div class="downloadDiv flexDisplay h100 itemCenter justifySpace">

                <!-- Bazar applestore and playstore download the app -->
                <div style="flex: 0 0 30%; max-width: 30%;" class="mAuto">
                    <a href="/" class="mt20">
                        <img src="../static/images/downloads/download.png" alt="download App" class="w100 round20">
                        <div class="flexDisplay" style="justify-content: center!important; align-items: center!important;">
                            <img src="../static/images/downloads/playstore.png" alt="download App" style="height:31px;width:27px;" class="mt1 mr1 ml1">
                            <img src="../static/images/downloads/applestore.png" alt="download App" style="height:30px;width:27px;" class="mt1 mr1 ml1">
                            <img src="../static/images/downloads/bazar.png" alt="download App" style="height:31px;width:31px;" class="mt1 mr1 ml1">
                        </div>
                    </a>
                </div>

                <!-- Explain something about download and get link of download for mobile -->
                <div style="flex: 0 0 30%; max-width: 30%;" class="txtRight mAuto">
                    <h5 class="pb1 boldFont txt20">
                        دانلود اپلیکیشن درمانکده
                    </h5>
                    <p class="txt16 height30">
                        با اپلیکیشن درمانکده با پزشکان و روانشناسان آنلاین مشاوره کنید یا برای ویزیت حضوری آنلاین نوبت بگیرید.
                    </p>
                    <div class="mt3" >
                        <p class="boldFont">
                            برای دریافت لینک دانلود، شماره موبایل خود را وارد کنید.
                        </p>
                        <div class="flexDisplay justifyStart mt15">
                            <input maxlength="11" type="text" placeholder="مانند  ******* 0912  " required="required" value="" class="round5 txt10 pl4 h100 pt8 pb8" style="border: 1px solid #fafafa!important; box-shadow: 1px 1px 1px 1px silver;">
                            <div>
                                <div class="flexDisplay buttonLink txtCenter itemCenter mr2" style="height: 100%!important;">
                                    <div>
                                        <img src="../static/images/downloads/mobile.png" style="width: 20px;">
                                    </div>
                                    <div class="txtWhite txtCenter txt14" >
                                        ارسال لینک
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                        <span class="txt14">
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer of the page -->
    <div class="mt20">

        <!-- تماس با ما و سوالات متداول و ... -->
        <div class="bgSkyBlue mb0 flexDisplay" >
            <div class="container flexDisplay justifySpace" >
                <div class="txtRight pb1 pt1" style="flex: 0 0 33.3333%; max-width: 33.3333%;">
                    <div class="pb1 pt1">
                        <a href="/" class="mAuto isLink itemCenter mr3" >
                            <img src="../static/images/Footer/footerlogo.svg" alt="درمانکده" >
                        </a>
                    </div>
                    <p class="pb5 pt5 mr3 height30 txtWhite txt14 txtRight txtjustify" style="flex: 0 0 50%; max-width: 50%">
                        درمانکده، ارائه دهنده خدمات آنلاین سلامت
                        (نوبت گیری اینترنتی، مشاوره آنلاین، آزمایش در محل و ...)
                    </p>
                </div>
                <div class="mt1 mb1 flexDisplay justifyCenter" style="flex-wrap: wrap; flex: 0 0 33.3333%; max-width: 33.3333%;">
                    <div class="mAuto">
                        <ul class="txtWhite txtCenter txt14" style="list-style: none;">
                            <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                                <a href="/" class="txtWhite">
                                    سوالات متداول
                                </a>
                            </li>
                            <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                                <a href="/" class="txtWhite">
                                    قوانین و مقررات
                                </a>
                            </li>
                            <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                                <a href="/" class="txtWhite">
                                    شکایت
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mAuto">
                        <ul class="txtWhite txtCenter txt14" style="list-style: none;">
                            <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                                <a href="/" class="txtWhite">
                                    درباره درمانکده
                                </a>
                            </li>
                            <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                                <a href="/" class="txtWhite">
                                    تماس با ما
                                </a>
                            </li>
                            <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                                <a href="/" class="txtWhite">
                                    مجله پزشکی
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="txtCenter pb1" style="flex: 0 0 33.3333%; max-width: 33.3333%;">
                    <div class="mt1 mr3 flexDisplay mAuto justifyCenter justifySpace">
                        <img alt="logo-samandehi" onclick="window.open('https://samandehi.ir/Pages/HomePage.aspx', 'Popup', 'toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0')" src="../static/images/Footer/logo1.png" class="isLink round10 bgWhite ml1" style="width: 90px; height: 120px;">
                        <img alt="trustseal-enamad" onclick="window.open('https://enamad.ir/', 'Popup', 'toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0')" src="../static/images/Footer/enmad2.jpg" class="round10 isLink bgWhite mr1" style="width: 90px; height: 120px;">
                    </div>
                    <div class="mt1 flexDisplay mAuto justifyCenter justifySpace"  >
                        <ul class="txtCenter flexDisplay justifyCenter" style="list-style: none">
                            <li class="mr3 ml3">
                                <a href="https://www.instagram.com/darmankade/" target="_blank">
                                    <img src="../static/images/Footer/instagram.png" width="30px;">
                                </a>
                            </li>
                            <li class="mr3 ml3">
                                <a href="https://twitter.com/darmankade" target="_blank">
                                    <img src="../static/images/Footer/twitter.png" width="30px;">
                                </a>
                            </li>
                            <li class="mr3 ml3">
                                <a href="https://www.linkedin.com/company/darmankade.ir/" target="_blank">
                                    <img src="../static/images/Footer/linkedin.png" width="30px;">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- تمام حقوق این سایت محفوظ است ... -->
        <div class="bgWhite mt0">
            <div class="container  flexDisplay justifySpace ml3 mr3">
                <span class="txt10">
                    تمامی حقوق این سایت برای درمانکده محفوظ است
                </span>
                <span class="txt10 txtLeft">
                    طراحی شده با
                    <img src="../static/images/Footer/heart.png" width="30px;">
                    توسط تیم درمانکده
                </span>
            </div>
        </div>
    </div>

</div>

</body>
</html>