{% load static %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <!-- Title of page -->
    <title>درمانکده</title>

    <!-- links of page for icon ans styles -->
    <link rel="icon" href="../static/images/1.jpg" type="image/png">
    <link href="../static/Main.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>

<!-- Header of page -->
<div class="flexDisplay container h100 bgWhite">

    <!-- darmankede Logo for go to main page -->
    <div class="w15 mAuto isLink">
        <a href="MainMenu.html"><img src="../static/images/4.png" alt="درمانکده"></a>
    </div>

    <!-- list of the pages in the header : لیست تخصص ها ، مشاوره آنلاین ، مجله پزشکی ، عضویت پزشکان و کرونا سازمانی -->
    <div class="inlineDisplay mAuto">
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="medical_specialists.html" >
                <img class="back" src="../static/header/list.png" style="width: 20px;">
                <img class="top" src="../static/header/list-orange.png" style="width: 20px;">
                لیست تخصص ها
            </a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="MainMenu.html">
                <img class="back" src="../static/header/wifi.png" style="width: 20px;">
                <img class="top" src="../static/header/wifi-orange.png" style="width: 20px;">
                مشاوره آنلاین</a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="MainMenu.html">
                <img class="back" src="../static/header/book.png" style="width: 20px;">
                <img class="top" src="../static/header/book-orange.png" style="width: 20px;">
                مجله پزشکی</a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="MainMenu.html">
                <img class="back" src="../static/header/add-user.png" style="width: 20px;">
                <img class="top" src="../static/header/add-user-orange.png" style="width: 20px;">
                عضویت پزشکان</a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="MainMenu.html">
                <img class="back" src="../static/header/box.png" style="width: 20px;">
                <img class="top" src="../static/header/box-orange.png" style="width: 20px;">
                کرونا سازمانی</a>
        </div>
    </div>

    <!-- دکمه ورود -->
    <div class="flexDisplay mAuto flexEnd w15">
        <div>
            <a class = "bgGray txt16 txtBlue pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="patient_login.html">ورود
                <img class="back" src="../static/header/loginBlue.svg" style="width: 20px; color: #1780df">
                <img class="top" src="../static/header/login-orange.png" style="width: 20px; color: #1780df">
            </a>
        </div>
    </div>

</div>

<!-- SerachBar with its Background and Details of original site -->
<div class="SearchDiv mt20 mr50 ml50 flexDisplay mAuto pb3 pl1 pr1 relPosition round20 bgSearch">

    <!-- Title in the search bar same to the original site -->
    <h1 class="pb3 pt3 mAuto height30 txtWhite txtCenter txt28">درمانکده - مشاوره آنلاین و حضوری</h1>

    <!-- SerachBar -->
    <div class="mAuto pr15 pl15 pt5 col8">
        <div class="searchBar mAuto bgWhite">
            <input type="text" placeholder="نام پزشک ، تخصص ، یا محله مورد نظر را جستجو کنید." value="" class="nameSearch pt15 pb15 pl1 pr1">
            <div class="citySearch h100 flexDisplay">
                <img src="../static/images/location.svg" style="width: 20px;">
                <input type="text" readonly="readonly" placeholder="نام شهر را انتخاب کنید." value="تهران" class="isLink noBorder">
                <img src="../static/images/dropdown.svg" class="isLink" style="width: 10px;">
            </div>
            <button class="btnSearch pl3 pr3 btn-primary search-submit">
                جستجو
            </button>
        </div>
    </div>

</div>

<!-- Best Specialities Div with title and a button to see all of them -->
<div class="flexDisplay bestSpecialities mt20 mr50 ml50">

    <!-- Title of the best Specialities and the button for see all the Specialities -->
    <div class="w100 flexDisplay mt3 mb1 justifySpace">
        <h5 class="boldFont txt16">
            بهترین تخصص های درمانکده
        </h5>
        <a href="MainMenu.html" class="txtBlue txt14 boldFont redHover">
            مشاهده همه >
            </svg>
        </a>
    </div>

    <!-- Speciality Boxes same to the original site -->
    <div class="bestSpecialities flexDisplay justifySpace w100">
        <div>
            <a href="MainMenu.html" class="isLink">
                <div class="round10 specialitySize bgWhite boxShadow">
                    <div class="pl5 pr5 round5 iconBG bgPurple">
                        <img src="../static/images/bestSpeciality/orth.png" alt="ارتوپدی">
                    </div>
                    <p class="txtCenter txtBlack boldFont txt14 mt15">
                        ارتوپدی
                    </p>
                </div>
            </a>
        </div>
        <div>
            <a href="MainMenu.html" class="isLink">
                <div class="round10 specialitySize bgWhite boxShadow">
                    <div class="pl5 pr5 round5 iconBG bgRed">
                        <img src="../static/images/bestSpeciality/orol.png" alt="اورولوژی">
                    </div>
                    <p class="txtCenter txtBlack boldFont txt14 mt15">
                        اورولوژی
                    </p>
                </div>
            </a>
        </div>
        <div>
            <a href="MainMenu.html" class="isLink">
                <div class="round10 specialitySize bgWhite boxShadow">
                    <div class="pl5 pr5 round5 iconBG bgGreen">
                        <img src="../static/images/bestSpeciality/hair.png" alt="پوست و مو">
                    </div>
                    <p class="txtCenter txtBlack boldFont txt14 mt15">
                        پوست و مو
                    </p>
                </div>
            </a>
        </div>
        <div>
            <a href="MainMenu.html" class="isLink">
                <div class="round10 specialitySize bgWhite boxShadow">
                    <div class="pl5 pr5 round5 iconBG bgBlue">
                        <img src="../static/images/bestSpeciality/women.png" alt="زنان و زایمان">
                    </div>
                    <p class="txtCenter txtBlack boldFont txt14 mt15">
                        زنان و زایمان
                    </p>
                </div>
            </a>
        </div>
        <div>
            <a href="MainMenu.html" class="isLink">
                <div class="round10 specialitySize bgWhite boxShadow">
                    <div class="pl5 pr5 round5 iconBG bgPink">
                        <img src="../static/images/bestSpeciality/inside.png" alt="داخلی">
                    </div>
                    <p class="txtCenter txtBlack boldFont txt14 mt15">
                        داخلی
                    </p>
                </div>
            </a>
        </div>
        <div>
            <a href="MainMenu.html" class="isLink">
                <div class="round10 specialitySize bgWhite boxShadow">
                    <div class="pl5 pr5 round5 iconBG bgCyan">
                        <img src="../static/images/bestSpeciality/ear.png" alt="گوش، حلق و بینی">
                    </div>
                    <p class="txtCenter txtBlack boldFont txt14 mt15">
                        گوش، حلق و بینی
                    </p>
                </div>
            </a>
        </div>
        <div>
            <a href="MainMenu.html" class="isLink">
                <div class="round10 specialitySize bgWhite boxShadow">
                    <div class="pl5 pr5 round5 iconBG bgOrange">
                        <img src="../static/images/bestSpeciality/brain.png" alt="مغز و اعصاب">
                    </div>
                    <p class="txtCenter txtBlack boldFont txt14 mt15">
                        مغز و اعصاب
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- comments Bar with some explain and a sample of comment -->
<div class="bgWhite mt20 comments bgGray flexDisplay">

    <!-- Explain for comments-->
    <div class="mb3 mt3 flex50 mAuto relPosition mr50">
        <h4 class="boldFont pb1 pt1 txt20">
            نظرات و روند درمانی بیماران
        </h4>
        <p class="txtGray txt14 height30 pl3 mb0 w58 txtjustify">
            شما می توانید تجربه مراجعه کاربران دیگر به پزشکان را بخوانید و از علت مراجعه سایر بیماران  و روند درمانی آن ها آگاهی یابید.
        </p>
    </div>

    <!-- An example of a comment that is same to the original site shape-->
    <div class="flex50 mAuto relPosition mt20">
        <img src="../static/images/comm.png" alt="icondsf" class="iconComment">
        <div class="relPosition ml50 bgCyan round20 mb3 mt1" style="border: 1px solid #1780df; padding: 1rem; display: block;">
            <div class="pb1 pt1 mb8">
                <p  class="mb1">
                    خانم دکتر خیلی خوش برخورد و با حوصله بودن و تاکید بر داروی ایرانی داشتن به جای هزینه های گرون داروهای خارجی و امیدوارم که داروهایی که دادن موثر واقع بشه
                </p>
            </div>
            <div class="pt1 doctorDet flexDisplay dashBorder txtRight" style="justify-content: space-evenly!important;">

                <!-- Doctor image -->
                <div class="mAuto" style="flex: 0 0 16.666%; max-width: 16.666%;">
                    <img src="../static/images/doctor.png" alt="خانم دکتر مریم مستقیمی طهرانی" class="w95 mb1">
                </div>

                <!-- Doctor name and Speciality -->
                <div class="mAuto pl6" style="flex: 0 0 60%; max-width: 60%;">
                    <h4 class="txt14 boldFont mb2">
                        دکتر
                        مریم مستقیمی طهرانی
                    </h4>
                    <p class="txt14">
                        متخصص پوست و مو
                    </p>
                </div>

                <div class="mAuto" style="display:inline; flex: 0 0 33.333%; max-width: 33.333%;">
                    <a href="MainMenu.html" class="btnComment round10 flexDisplay itemCenter justifyCenter relPosition txt14 txtCenter boldFont">
                        مشاهده سایر نظرات
                    </a>
                </div>

                <div class="wo bgCyan"></div>
            </div>
            <div class="commentName pt5 height30">
                <span class="txt14"> نظر ساناز </span>
            </div>
        </div>
    </div>

</div>

<!-- The Special Service Box (about Corona Virus) similar to originial site-->
<div class="specialService bgSpecialService relPosition itemCenter flexDisplay ml50 mr50 mt20 round20">

    <!-- Title -->
    <h5 class="boldFont txtWhite txtCenter mb4 mt3 w100 txt28">
        نگران کرونا نباشید
    </h5>

    <!-- First Service -->
    <div class="ml1 txtCenter pl3 oneService">
        <a href="MainMenu.html" class="isLink">
            <img src="../static/images/services/service1.png" alt="pcr" class="w100">
            <h4 class="txt16 txtWhite boldFont mb15 mt15">
                تست PCR و آنتی بادی در محل
            </h4>
            <p class="txt14 mb15 mt1 height30 txtWhite txtjustify mb15 mt1">
                اگر در شهرهای تهران، مشهد، اصفهان، کرج، شیراز و اهواز هستید، می‌توانید بدون مراجعه به آزمایشگاه و در محل مدنظر خود آزمایش کرونا بدهید.
            </p>
            <div class="btnPCR boldFont w100 mAuto mb15">
                درخواست آزمایش >
            </div>
        </a>
    </div>

    <!-- Second Service -->
    <div class="mr1 txtCenter pl3 oneService">
        <a href="MainMenu.html" class="isLink">
            <img src="../static/images/services/service2.png" alt="pcr" class="w100">
            <h4 class="txt16 txtWhite boldFont">
                مشاوره آنلاین فوری
            </h4>
            <p class="txt14 mb15 mt1 height30 txtWhite txtjustify">
                با تست آنلاین کرونا علائم خود را بررسی کنید و اگر مشکوک بودید میتوانید به صورت فوری با پزشکان عمومی مشاوره آنلاین داشته باشید.
            </p>
            <div class="btnPCR boldFont w100 mAuto mb15">
                دریافت مشاوره فوری >
            </div>
        </a>
    </div>
</div>

<!-- the Download Box with all details -->
<div class="mb15">
    <div class="h100 container">
        <div class="downloadDiv flexDisplay h100 itemCenter justifySpace">

            <!-- Bazar applestore and playstore download the app -->
            <div style="flex: 0 0 30%; max-width: 30%;" class="mAuto">
                <a href="MainMenu.html" class="mt20">
                    <img src="../static/images/downloads/download.png" alt="download App" class="w100 round20">
                    <div class="flexDisplay" style="justify-content: center!important; align-items: center!important;">
                        <img src="../static/images/downloads/playstore.png" alt="download App" style="height:31px;width:27px;" class="mt1 mr1 ml1">
                        <img src="../static/images/downloads/applestore.png" alt="download App" style="height:30px;width:27px;" class="mt1 mr1 ml1">
                        <img src="../static/images/downloads/bazar.png" alt="download App" style="height:31px;width:31px;" class="mt1 mr1 ml1">
                    </div>
                </a>
            </div>

            <!-- Explain something about download and get link of download for mobile -->
            <div style="flex: 0 0 30%; max-width: 30%;" class="txtRight mAuto">
                <h5 class="pb1 boldFont txt20">
                    دانلود اپلیکیشن درمانکده
                </h5>
                <p class="txt16 height30">
                    با اپلیکیشن درمانکده با پزشکان و روانشناسان آنلاین مشاوره کنید یا برای ویزیت حضوری آنلاین نوبت بگیرید.
                </p>
                <div class="mt3" >
                    <p class="boldFont">
                        برای دریافت لینک دانلود، شماره موبایل خود را وارد کنید.
                    </p>
                    <div class="flexDisplay justifyStart mt15">
                        <input maxlength="11" type="text" placeholder="مانند  ******* 0912  " required="required" value="" class="round5 txt10 pl4 h100 pt8 pb8" style="border: 1px solid #fafafa!important; box-shadow: 1px 1px 1px 1px silver;">
                        <div>
                            <div class="flexDisplay buttonLink txtCenter itemCenter mr2" style="height: 100%!important;">
                                <div>
                                    <img src="../static/images/downloads/mobile.png" style="width: 20px;">
                                </div>
                                <div class="txtWhite txtCenter txt14" >
                                    ارسال لینک
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="txt14">
                            </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Footer of the page -->  <!-- -->
<div>

    <!-- تماس با ما و سوالات متداول و ... -->
    <div class="bgSkyBlue mb0">
        <div class="container">
            <div class="txtCenter pb1 pt1">
                <div class="pb1 pt1">
                    <a href="MainMenu.html" class="mAuto isLink itemCenter" >
                        <img src="../static/images/Footer/footerlogo.svg" alt="درمانکده" >
                    </a>
                </div>
                <p class="pl15 pr15 pb5 pt5 mAuto height30 txtWhite txt14" style="flex: 0 0 30%; max-width: 30%">
                    درمانکده، ارائه دهنده خدمات آنلاین سلامت
                    <br>
                    (نوبت گیری اینترنتی، مشاوره آنلاین، آزمایش در محل و ...)
                </p>
            </div>
            <div class="mt1 mb1 flexDisplay justifySpace" style="flex-wrap: wrap;">
                <div class="ml1 mr1" style="flex: 0 0 15%; max-width: 15%">
                    <ul class="txtWhite txtCenter txt14" style="list-style: none;">
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop">
                            <a href="MainMenu.html" class="txtWhite">
                                درباره درمانکده
                            </a>
                        </li>
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop">
                            <a href="MainMenu.html" class="txtWhite">
                                تماس با ما
                            </a>
                        </li>
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop">
                            <a href="MainMenu.html" class="txtWhite">
                                مجله پزشکی
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ml1 mr1 justifySpace">
                    <ul class="txtCenter flexDisplay justifySpace mr1 ml1" style="list-style: none">
                        <li class="mr3 ml3">
                            <a href="https://www.instagram.com/darmankade/" target="_blank">
                                <img src="../static/images/Footer/instagram.png" style="width: 30px;">
                            </a>
                        </li>
                        <li class="mr3 ml3">
                            <a href="https://twitter.com/darmankade" target="_blank">
                                <img src="../static/images/Footer/twitter.png" style="width: 30px;">
                            </a>
                            <span class="verticalLine itemCenter"></span>
                        </li>
                        <li class="mr3 ml3">
                            <a href="https://www.linkedin.com/company/darmankade.ir/" target="_blank">
                                <img src="../static/images/Footer/linkedin.png" style="width: 30px;">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ml50 mr1" style="flex: 0 0 15%; max-width: 15%">
                    <ul class="txtWhite txtCenter txt14" style="list-style: none;">
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop">
                            <a href="MainMenu.html" class="txtWhite">
                                سوالات متداول
                            </a>
                        </li>
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop">
                            <a href="MainMenu.html" class="txtWhite">
                                قوانین و مقررات
                            </a>
                        </li>
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop">
                            <a href="MainMenu.html" class="txtWhite">
                                شکایت
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="txtCenter pb1">
                <div class="">
                    <p class="txtWhite mAuto height30 txtCenter txt14" style="flex: 0 0 25%; max-width: 25%">
                        با ثبت‌نام در خبرنامه درمانکده، اولین نفری باشید که از جدیدترین خبرها، جشنواره‌ها و تخفیف های ویژه ما مطلع می‌شوید
                    </p>
                    <div class="w45 flexDisplay mAuto justifyCenter">
                        <div>
                            <div class="flexDisplay justifyCenter relPosition mb2">
                                <input type="text" placeholder="نام" name="FirstName" class="name">
                                <input type="text" placeholder="نام خانوادگی" name="LastName" class="name">
                            </div>
                            <input type="email" placeholder="ایمیل" name="email" class="email mb5">
                            <div class="flexDisplay buttonMember txtCenter itemCenter h100 pt5 pb5">
                                <div>
                                    <img src="../static/images/medicalSpecialists/arrow.png" style="width: 20px;">
                                </div>
                                <div class="txtWhite txtCenter txt14 itemCenter pr1" >
                                    عضو می شوم
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt1 flexDisplay mAuto justifyCenter">
                    <img alt="logo-samandehi" onclick="window.open('https://logo.samandehi.ir/Verify.aspx?id=1020917&amp;p=rfthobpduiwkobpdpfvlrfthjyoe', 'Popup', 'toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0')" src="../static/images/Footer/logo1.png" class="isLink round10 bgWhite ml1" style="width: 90px; height: 120px;">
                    <img alt="trustseal-enamad" onclick="window.open('https://trustseal.enamad.ir/?id=107984&Code=TIxyyDUwLE22aX96fu2X', 'Popup', 'toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0')" src="../static/images/Footer/enmad2.jpg" class="round10 isLink bgWhite mr1" style="width: 90px; height: 120px;">
                </div>
            </div>
        </div>
    </div>

    <!-- تمام حقوق این سایت محفوظ است ... -->
    <div class="bgWhite mt0">
        <div class="container  flexDisplay justifySpace ml3 mr3">
                <span class="txt10">
                    تمامی حقوق این سایت برای درمانکده محفوظ است
                </span>
            <span class="txt10 txtLeft">
                    طراحی شده با
                    <img src="../static/images/Footer/heart.png" style="width: 25px;">
                    توسط تیم درمانکده
                </span>
        </div>
    </div>
</div>

</body>

</html>