{% load static %}

<!DOCTYPE html>
<html lang="fa">

<head>

    <!-- Title of the page -->
    <title>درمانکده</title>

    <!-- link icon and styles to this page -->
    <link rel="icon" href="../static/favicon.ico" type="image/ico">
    <link href="../static/Main.css" rel="stylesheet">
    <script type="text/javascript" src="../static/scripts/medical_specialists.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta charset="UTF-8">
</head>

<body>

<!-- Header of page -->
<div class="flexDisplay container h100 bgWhite">

    <!-- darmankede Logo for go to main page -->
    <div class="w15 mAuto isLink">
        <a href="/"><img src="../static/images/4.png" alt="درمانکده"></a>
    </div>

    <!-- list of the pages in the header : لیست تخصص ها ، مشاوره آنلاین ، مجله پزشکی ، عضویت پزشکان و کرونا سازمانی -->
    <div class="inlineDisplay mAuto">
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="medical_specialists.html" >
                <img class="back" src="../static/header/list.png" style="width: 20px;">
                <img class="top" src="../static/header/list-orange.png" style="width: 20px;">
                لیست تخصص ها
            </a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="/">
                <img class="back" src="../static/header/wifi.png" style="width: 20px;">
                <img class="top" src="../static/header/wifi-orange.png" style="width: 20px;">
                مشاوره آنلاین</a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="/">
                <img class="back" src="../static/header/book.png" style="width: 20px;">
                <img class="top" src="../static/header/book-orange.png" style="width: 20px;">
                مجله پزشکی</a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="/">
                <img class="back" src="../static/header/add-user.png" style="width: 20px;">
                <img class="top" src="../static/header/add-user-orange.png" style="width: 20px;">
                عضویت پزشکان</a>
        </div>
        <div>
            <a class = "txt16 txtBlack pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" href="/">
                <img class="back" src="../static/header/box.png" style="width: 20px;">
                <img class="top" src="../static/header/box-orange.png" style="width: 20px;">
                کرونا سازمانی</a>
        </div>
    </div>

    <!-- دکمه ورود -->
    <div class="flexDisplay mAuto flexEnd w15">
        <div>
            <a class = "bgGray txt16 txtBlue pr1 pl1 pt25 pb25 round5 isLink boldFont redHover" onclick="redirect_to_login()">ورود
                <img class="back" src="../static/header/loginBlue.svg" style="width: 20px; color: #1780df">
                <img class="top" src="../static/header/login-orange.png" style="width: 20px; color: #1780df">
            </a>
        </div>
    </div>

</div>

<!-- One of image in the Top of the page -->
<div class="round10 mt20 ml50 mr50">
    <img src="../static/images/medicalSpecialists/slideshow1.png" class="w100">
</div>

<!-- left ScrollBar and right 0 Specialities are created same to the original site -->
<div class="mt20 ml50 mr50 flexDisplay">

    <!-- Left scroll bar with ordering of Alphabet -->
    <div class="leftScroll flexDisplay round10 relPosition" style="flex: 0 0 24%; max-width: 24%;">
        <div class="stickyPosition leftStyle bgWhite round10 " style="top: 0!important;">
            <div class="itemCenter borderBottom " style="padding: 1rem!important;">
                <div style="display: inline-block;">
                    <img src="../static/images/medicalSpecialists/content.svg" style="width: 25px;">
                    <h5 class="txt16 boldFont ml5 mb0" style="display: inline-block;">
                        همه تخصص ها
                    </h5>
                </div>
                <p class="txt10" style="color: #6e7794;"> (به ترتیب حروف الفبا) </p>
            </div>
            <div class="bgWhite pr1 pl1 mb1 mt1 scrol w95" style="color: #6e7794; height: 80vh;">
                <ul class="" style="list-style: none">
                    <li class="txtRight">
                        <div class="mt1">
                            <span class="bgCyan pr1 pl1 pt25 pb25 mt1 txtCenter round5">
                                ا
                            </span>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                ارتوپدی
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                ارتوپدی کودکان
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                ارتوز و پروتز (ارتوپدی فنی)
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                استروتاکسی و فانکشنال مغز و اعصاب
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                آسم آلرژی و ایمونولوژی
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                اکوکاردیوگرافی
                            </a>
                        </div>
                    </li>
                    <li class="txtRight">
                        <div class="mt3">
                            <span class="bgCyan pr1 pl1 pt25 pb25 mt1 txtCenter round5">
                                ب
                            </span>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                بالن آنژیوپلاستی
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                بالن آنژیوپلاستی و والوپلاستی
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                بیماری های عفونی و تب دار
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                بیماری های پوست و مو
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                بیماری های ریه
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                بیماری های عفونی کودکان
                            </a>
                        </div>
                    </li>
                    <li class="txtRight">
                        <div class="mt3">
                            <span class="bgCyan pr1 pl1 pt25 pb25 mt1 txtCenter round5">
                                ت
                            </span>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                تعویض مفاصل و آرتروسکوپی
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                تغذیه
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                توانبخشی شناختی
                            </a>
                        </div>
                        <div class="mt1 mb25">
                            <a href="/orthopedist/" class="txtGray dashHover pb5 txt14">
                                توراکس
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="stickyPosition bgCyan roundBottom10 txtBlue txtCenter itemCenter w100" style="display: inline-block; bottom: 0!important;">
                <p style="display: inline-block">
                    اسکرول کنید
                </p>
                <img src="../static/images/medicalSpecialists/scroll.svg" style="width: 30px;">
            </div>
        </div>
    </div>

    <!-- Right 9 specialities and some explanation like the original site -->
    <div class="pr1 relPosition flexDisplay" style="flex-wrap: wrap; flex: 0 0 76%; max-width: 76%;">
        <div class="pr1 pl1 mb1 relPosition" style="display: inline-block; flex: 0 0 30%; max-width: 30%;">
            <div class="round10 bgWhite borderGray h100 speciality" style="padding: 1rem!important;">
                <a class="">
                    <div  class="itemCenter ">
                        <img src="../static/specialities/s1.svg" alt="گوارش و کبد" title="گوارش و کبد" class="w35" style="display: inline-block;">
                        <h5  class="boldFont txt20 w70 txtBlack height30" style="display: inline-block;">
                            گوارش و کبد
                        </h5>
                    </div>
                    <p class="txt14 txtjustify  height30 txtGray">
                        متخصص گوارش، کبد و آندوسکوپی پزشکی که بر سلامت گوارش تمرکز دارد و در زمینه تشخیص، ارزیابی و درمان اختلالا ...
                    </p>
                    <div>
                        <div class="relPosition" style="display: inline-block;">
                            <img src="../static/doctors/doctor1-1.jpg" alt="بهرام هاشمی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: 0px;">
                            <img src="../static/doctors/doctor1-2.jpg" alt="غلامحسین فلاحی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -10px">
                            <img src="../static/doctors/doctor1-3.jpg" alt="دکتر کرباسی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -20px">
                            <p class="txtCenter boldFont txt10 w70 txtGray" style="display: block;">
                                + 109 پزشک
                            </p>
                        </div>
                        <div  class="relPosition" style="display: inline-block; vertical-align: center; top: -15px;">
                            <button onclick="redirect_to_specialist(9)" type="button" class="txtOrange isLink round5 txt14 boldFont w100 pr5 pl5 txtCenter bgTransparent " style="padding-top: 0!important; padding-bottom: 0!important;">
                                <p>
                                    مشاهده
                                    <img class="topArrow" src="../static/images/medicalSpecialists/arrow.png" style="width: 25px;">
                                    <img class="backArrow" src="../static/images/medicalSpecialists/arrow-orange.png" style="width: 25px;">
                                </p>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="pr1 pl1 mb1 relPosition" style="display: inline-block; flex: 0 0 30%; max-width: 30%;">
            <div class="round10 bgWhite borderGray h100 speciality" style="padding: 1rem!important;">
                <a class="">
                    <div  class="itemCenter ">
                        <img src="../static/specialities/s2.svg" alt="غدد و متابولیسم" title="غدد و متابولیسم" class="w35" style="display: inline-block;">
                        <h5  class="boldFont txt20 w70 txtBlack height30" style="display: inline-block;">
                            غدد و متابولیسم
                        </h5>
                    </div>
                    <p class="txt14 txtjustify  height30 txtGray">
                        متخصص غدد و متابولیسم پزشکی است که بیماری‌های هورمونی را به طور کامل مطالعه کرده و بهترین درمان‌های ممکن  ...
                    </p>
                    <div>
                        <div class="relPosition" style="display: inline-block;">
                            <img src="../static/doctors/doctor2-1.jpg" alt="ناهید خلیلی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: 0px;">
                            <img src="../static/doctors/doctor2-2.jpg" alt="مریم اردشیری" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -10px">
                            <img src="../static/doctors/doctor2-3.jpg" alt="مرتضی حسینی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -20px">
                            <p class="txtCenter boldFont txt10 w70 txtGray" style="display: block;">
                                + 78 پزشک
                            </p>
                        </div>
                        <div  class="relPosition" style="display: inline-block; vertical-align: center; top: -15px;">
                            <button onclick="redirect_to_specialist(8)" type="button" class="txtOrange isLink round5 txt14 boldFont w100 pr5 pl5 txtCenter bgTransparent " style="padding-top: 0!important; padding-bottom: 0!important;">
                                <p>
                                    مشاهده
                                    <img class="topArrow" src="../static/images/medicalSpecialists/arrow.png" style="width: 25px;">
                                    <img class="backArrow" src="../static/images/medicalSpecialists/arrow-orange.png" style="width: 25px;">
                                </p>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="pr1 pl1 mb1 relPosition" style="display: inline-block; flex: 0 0 30%; max-width: 30%;">
            <div class="round10 bgWhite borderGray h100 speciality" style="padding: 1rem!important;">
                <a class="">
                    <div  class="itemCenter ">
                        <img src="../static/specialities/s3.svg" alt="گوش، حلق و بینی" title="گوش، حلق و بینی" class="w35" style="display: inline-block;">
                        <h5  class="boldFont txt20 w70 txtBlack height30" style="display: inline-block;">
                            گوش، حلق و بینی
                        </h5>
                    </div>
                    <p class="txt14 txtjustify  height30 txtGray">
                        پزشکی که در زمینه تشخیص، مراقبت‌های پزشکی، جراحی و درمان بیمارانی که دچار اختلالات گوش، بینی، دهان، گلو،  ...
                    </p>
                    <div>
                        <div class="relPosition" style="display: inline-block;">
                            <img src="../static/doctors/doctor3-1.jpg" alt="اصغر اخوان" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: 0px;">
                            <img src="../static/doctors/doctor3-2.jpeg" alt="گلفام مهرپور" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -10px">
                            <img src="../static/doctors/doctor3-3.png" alt="علیرضا صفایی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -20px">
                            <p class="txtCenter boldFont txt10 w70 txtGray" style="display: block;">
                                + 204 پزشک
                            </p>
                        </div>
                        <div  class="relPosition" style="display: inline-block; vertical-align: center; top: -15px;">
                            <button onclick="redirect_to_specialist(2)" type="button" class="txtOrange isLink round5 txt14 boldFont w100 pr5 pl5 txtCenter bgTransparent " style="padding-top: 0!important; padding-bottom: 0!important;">
                                <p>
                                    مشاهده
                                    <img class="topArrow" src="../static/images/medicalSpecialists/arrow.png" style="width: 25px;">
                                    <img class="backArrow" src="../static/images/medicalSpecialists/arrow-orange.png" style="width: 25px;">
                                </p>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="pr1 pl1 mb1 relPosition" style="display: inline-block; flex: 0 0 30%; max-width: 30%;">
            <div class="round10 bgWhite borderGray h100 speciality" style="padding: 1rem!important;">
                <a class="">
                    <div  class="itemCenter ">
                        <img src="../static/specialities/s4.svg" alt="مغز و اعصاب" title="مغز و اعصاب" class="w35" style="display: inline-block;">
                        <h5  class="boldFont txt20 w70 txtBlack height30" style="display: inline-block;">
                            مغز و اعصاب
                        </h5>
                    </div>
                    <p class="txt14 txtjustify  height30 txtGray">
                        سیستم عصبی انسان به دو دسته‌ی کلی اعصاب مرکزی (مغز و نخاع) و اعصاب محیطی (اعصاب و نورون‌های عضلات) تقسیم  ...
                    </p>
                    <div>
                        <div class="relPosition" style="display: inline-block;">
                            <img src="../static/doctors/doctor4-1.jpg" alt="بابک جلالیان" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: 0px;">
                            <img src="../static/doctors/doctor4-2.jpg" alt="سید علی موسوی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -10px">
                            <img src="../static/doctors/doctor4-3.jpg" alt="خدیجه تهرانی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -20px">
                            <p class="txtCenter boldFont txt10 w70 txtGray" style="display: block;">
                                + 131 پزشک
                            </p>
                        </div>
                        <div  class="relPosition" style="display: inline-block; vertical-align: center; top: -15px;">
                            <button onclick="redirect_to_specialist(1)" type="button" class="txtOrange isLink round5 txt14 boldFont w100 pr5 pl5 txtCenter bgTransparent " style="padding-top: 0!important; padding-bottom: 0!important;">
                                <p>
                                    مشاهده
                                    <img class="topArrow" src="../static/images/medicalSpecialists/arrow.png" style="width: 25px;">
                                    <img class="backArrow" src="../static/images/medicalSpecialists/arrow-orange.png" style="width: 25px;">
                                </p>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="pr1 pl1 mb1 relPosition" style="display: inline-block; flex: 0 0 30%; max-width: 30%;">
            <div class="round10 bgWhite borderGray h100 speciality" style="padding: 1rem!important;">
                <a class="">
                    <div  class="itemCenter ">
                        <img src="../static/specialities/s5.svg" alt="خون و آنکلوژی" title="خون و آنکلوژی" class="w35" style="display: inline-block;">
                        <h5  class="boldFont txt20 w70 txtBlack height30" style="display: inline-block;">
                            خون و آنکلوژی
                        </h5>
                    </div>
                    <p class="txt14 txtjustify  height30 txtGray">
                        پزشکی که به پیشگیری، تشخیص، درمان و مطالعه بیماری های مربوط به خون و بافت های سازنده خون که شامل اختلالات ...
                    </p>
                    <div>
                        <div class="relPosition" style="display: inline-block;">
                            <img src="../static/doctors/doctor5-1.jpg" alt="فاطمه رجبی پور" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: 0px;">
                            <img src="../static/doctors/doctor5-2.jpg" alt="سهراب سلیمانزاده" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -10px">
                            <img src="../static/doctors/doctor5-3.jpg" alt="مهرداد مشهدیان" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -20px">
                            <p class="txtCenter boldFont txt10 w70 txtGray" style="display: block;">
                                + 14 پزشک
                            </p>
                        </div>
                        <div  class="relPosition" style="display: inline-block; vertical-align: center; top: -15px;">
                            <button onclick="redirect_to_specialist(10)" type="button" class="txtOrange isLink round5 txt14 boldFont w100 pr5 pl5 txtCenter bgTransparent " style="padding-top: 0!important; padding-bottom: 0!important;">
                                <p>
                                    مشاهده
                                    <img class="topArrow" src="../static/images/medicalSpecialists/arrow.png" style="width: 25px;">
                                    <img class="backArrow" src="../static/images/medicalSpecialists/arrow-orange.png" style="width: 25px;">
                                </p>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="pr1 pl1 mb1 relPosition" style="display: inline-block; flex: 0 0 30%; max-width: 30%;">
            <div class="round10 bgWhite borderGray h100 speciality" style="padding: 1rem!important;">
                <a class="">
                    <div  class="itemCenter ">
                        <img src="../static/specialities/s6.svg" alt="زنان و زایمان" title="زنان و زایمان" class="w35" style="display: inline-block;">
                        <h5  class="boldFont txt20 w70 txtBlack height30" style="display: inline-block;">
                            زنان و زایمان
                        </h5>
                    </div>
                    <p class="txt14 txtjustify  height30 txtGray">
                        متخصص زنان و زایمان یا دکتر زنان (obstetrician)، پزشکی است که در تشخیص و درمان بیماری‌های مربوط به دستگاه ...
                    </p>
                    <div>
                        <div class="relPosition" style="display: inline-block;">
                            <img src="../static/doctors/doctor6-1.jpg" alt="طاهره محمودزاده" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: 0px;">
                            <img src="../static/doctors/doctor6-2.jpg" alt="معصومه میراسماعیلی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -10px">
                            <img src="../static/doctors/doctor6-3.jpg" alt="مهراندخت عابدینی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -20px">
                            <p class="txtCenter boldFont txt10 w70 txtGray" style="display: block;">
                                + 14 پزشک
                            </p>
                        </div>
                        <div  class="relPosition" style="display: inline-block; vertical-align: center; top: -15px;">
                            <button onclick="redirect_to_specialist(4)" type="button" class="txtOrange isLink round5 txt14 boldFont w100 pr5 pl5 txtCenter bgTransparent " style="padding-top: 0!important; padding-bottom: 0!important;">
                                <p>
                                    مشاهده
                                    <img class="topArrow" src="../static/images/medicalSpecialists/arrow.png" style="width: 25px;">
                                    <img class="backArrow" src="../static/images/medicalSpecialists/arrow-orange.png" style="width: 25px;">
                                </p>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="pr1 pl1 mb1 relPosition" style="display: inline-block; flex: 0 0 30%; max-width: 30%;">
            <div class="round10 bgWhite borderGray h100 speciality" style="padding: 1rem!important;">
                <a class="">
                    <div  class="itemCenter ">
                        <img src="../static/specialities/s7.svg" alt="پوست و مو" title="پوست و مو" class="w35" style="display: inline-block;">
                        <h5  class="boldFont txt20 w70 txtBlack height30" style="display: inline-block;">
                            پوست و مو
                        </h5>
                    </div>
                    <p class="txt14 txtjustify  height30 txtGray">
                        پزشکی که به تشخیص، درمان و جلوگیری از بیماری‌های پوست، مو، ناخن، نواحی مایع مخاطی در بدن (داخل دهان، بینی ...
                    </p>
                    <div>
                        <div class="relPosition" style="display: inline-block;">
                            <img src="../static/doctors/doctor7-1.jpg" alt="محمدرضا اشرافی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: 0px;">
                            <img src="../static/doctors/doctor7-2.jpg" alt="طاهره محقق" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -10px">
                            <img src="../static/doctors/doctor7-3.jpg" alt="نادر زرین پور" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -20px">
                            <p class="txtCenter boldFont txt10 w70 txtGray" style="display: block;">
                                + 178 پزشک
                            </p>
                        </div>
                        <div  class="relPosition" style="display: inline-block; vertical-align: center; top: -15px;">
                            <button onclick="redirect_to_specialist(5)" type="button" class="txtOrange isLink round5 txt14 boldFont w100 pr5 pl5 txtCenter bgTransparent " style="padding-top: 0!important; padding-bottom: 0!important;">
                                <p>
                                    مشاهده
                                    <img class="topArrow" src="../static/images/medicalSpecialists/arrow.png" style="width: 25px;">
                                    <img class="backArrow" src="../static/images/medicalSpecialists/arrow-orange.png" style="width: 25px;">
                                </p>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="pr1 pl1 mb1 relPosition" style="display: inline-block; flex: 0 0 30%; max-width: 30%;">
            <div class="round10 bgWhite borderGray h100 speciality" style="padding: 1rem!important;">
                <a class="">
                    <div  class="itemCenter ">
                        <img src="../static/specialities/s8.svg" alt="روماتولوژی" title="روماتولوژی" class="w35" style="display: inline-block;">
                        <h5  class="boldFont txt20 w70 txtBlack height30" style="display: inline-block;">
                            روماتولوژی
                        </h5>
                    </div>
                    <p class="txt14 txtjustify  height30 txtGray">
                        روماتولوژیست یا متخصص روماتیسم متخصص داخلی و یا یک متخصص اطفال است که برای تشخیص و درمان غیر جراحی بیماری ...
                    </p>
                    <div>
                        <div class="relPosition" style="display: inline-block;">
                            <img src="../static/doctors/doctor8-1.jpg" alt="شهرام بهاروند" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: 0px;">
                            <img src="../static/doctors/doctor8-2.jpg" alt="نقی حسینعلی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -10px">
                            <img src="../static/doctors/doctor8-3.jpg" alt="نوشین بیات" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -20px">
                            <p class="txtCenter boldFont txt10 w70 txtGray" style="display: block;">
                                + 71 پزشک
                            </p>
                        </div>
                        <div  class="relPosition" style="display: inline-block; vertical-align: center; top: -15px;">
                            <button onclick="redirect_to_specialist(12)" type="button" class="txtOrange isLink round5 txt14 boldFont w100 pr5 pl5 txtCenter bgTransparent " style="padding-top: 0!important; padding-bottom: 0!important;">
                                <p>
                                    مشاهده
                                    <img class="topArrow" src="../static/images/medicalSpecialists/arrow.png" style="width: 25px;">
                                    <img class="backArrow" src="../static/images/medicalSpecialists/arrow-orange.png" style="width: 25px;">
                                </p>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="pr1 pl1 mb1 relPosition" style="display: inline-block; flex: 0 0 30%; max-width: 30%;">
            <div class="round10 bgWhite borderGray h100 speciality" style="padding: 1rem!important;">
                <a class="">
                    <div  class="itemCenter ">
                        <img src="../static/specialities/s9.svg" alt="جراحی مغز و اعصاب" title="جراحی مغز و اعصاب" class="w35" style="display: inline-block;">
                        <h5  class="boldFont txt20 w70 txtBlack height30" style="display: inline-block;">
                            جراحی مغز و اعصاب
                        </h5>
                    </div>
                    <p class="txt14 txtjustify  height30 txtGray">
                        پزشکی که در زمینه پیشگیری، تشخیص، جراحی‌ مغز و توانبخشی اختلالاتی که بر هر بخش از دستگاه عصبی شامل اعصاب  ...
                    </p>
                    <div>
                        <div class="relPosition" style="display: inline-block;">
                            <img src="../static/doctors/doctor9-1.jpg" alt="یوسف کرمی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: 0px;">
                            <img src="../static/doctors/doctor9-2.jpg" alt="حمید خردمند" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -10px">
                            <img src="../static/doctors/doctor9-3.jpg" alt="شهاب کمالی اردکانی" class="roundedCircle relPosition" style="display: inline-block; width: 30px; height: 30px; right: -20px">
                            <p class="txtCenter boldFont txt10 w70 txtGray" style="display: block;">
                                + 54 پزشک
                            </p>
                        </div>
                        <div  class="relPosition" style="display: inline-block; vertical-align: center; top: -15px;">
                            <button onclick="redirect_to_specialist(11)" type="button" class="txtOrange isLink round5 txt14 boldFont w100 pr5 pl5 txtCenter bgTransparent " style="padding-top: 0!important; padding-bottom: 0!important;">
                                <p>
                                    مشاهده
                                    <img class="topArrow" src="../static/images/medicalSpecialists/arrow.png" style="width: 25px;">
                                    <img class="backArrow" src="../static/images/medicalSpecialists/arrow-orange.png" style="width: 25px;">
                                </p>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<!-- Footer of the page -->
<div class="mt20">

    <!-- تماس با ما و سوالات متداول و ... -->
    <div class="bgSkyBlue mb0 flexDisplay" >
        <div class="container flexDisplay justifySpace" >
            <div class="txtRight pb1 pt1" style="flex: 0 0 33.3333%; max-width: 33.3333%;">
                <div class="pb1 pt1">
                    <a href="/" class="mAuto isLink itemCenter mr3" >
                        <img src="../static/images/Footer/footerlogo.svg" alt="درمانکده" >
                    </a>
                </div>
                <p class="pb5 pt5 mr3 height30 txtWhite txt14 txtRight txtjustify" style="flex: 0 0 50%; max-width: 50%">
                    درمانکده، ارائه دهنده خدمات آنلاین سلامت
                    (نوبت گیری اینترنتی، مشاوره آنلاین، آزمایش در محل و ...)
                </p>
            </div>
            <div class="mt1 mb1 flexDisplay justifyCenter" style="flex-wrap: wrap; flex: 0 0 33.3333%; max-width: 33.3333%;">
                <div class="mAuto">
                    <ul class="txtWhite txtCenter txt14" style="list-style: none;">
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                            <a href="/" class="txtWhite">
                                سوالات متداول
                            </a>
                        </li>
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                            <a href="/" class="txtWhite">
                                قوانین و مقررات
                            </a>
                        </li>
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                            <a href="/" class="txtWhite">
                                شکایت
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mAuto">
                    <ul class="txtWhite txtCenter txt14" style="list-style: none;">
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                            <a href="/" class="txtWhite">
                                درباره درمانکده
                            </a>
                        </li>
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                            <a href="/" class="txtWhite">
                                تماس با ما
                            </a>
                        </li>
                        <li class="txtWhite txtCenter whiteHover pt1 pb1 borderTop pr3 pl3">
                            <a href="/" class="txtWhite">
                                مجله پزشکی
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="txtCenter pb1" style="flex: 0 0 33.3333%; max-width: 33.3333%;">
                <div class="mt1 mr3 flexDisplay mAuto justifyCenter justifySpace">
                    <img alt="logo-samandehi" onclick="window.open('https://samandehi.ir/Pages/HomePage.aspx', 'Popup', 'toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0')" src="../static/images/Footer/logo1.png" class="isLink round10 bgWhite ml1" style="width: 90px; height: 120px;">
                    <img alt="trustseal-enamad" onclick="window.open('https://enamad.ir/', 'Popup', 'toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0')" src="../static/images/Footer/enmad2.jpg" class="round10 isLink bgWhite mr1" style="width: 90px; height: 120px;">
                </div>
                <div class="mt1 flexDisplay mAuto justifyCenter justifySpace"  >
                    <ul class="txtCenter flexDisplay justifyCenter" style="list-style: none">
                        <li class="mr3 ml3">
                            <a href="https://www.instagram.com/darmankade/" target="_blank">
                                <img src="../static/images/Footer/instagram.png" width="30px;">
                            </a>
                        </li>
                        <li class="mr3 ml3">
                            <a href="https://twitter.com/darmankade" target="_blank">
                                <img src="../static/images/Footer/twitter.png" width="30px;">
                            </a>
                        </li>
                        <li class="mr3 ml3">
                            <a href="https://www.linkedin.com/company/darmankade.ir/" target="_blank">
                                <img src="../static/images/Footer/linkedin.png" width="30px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- تمام حقوق این سایت محفوظ است ... -->
    <div class="bgWhite mt0">
        <div class="container  flexDisplay justifySpace ml3 mr3">
                <span class="txt10">
                    تمامی حقوق این سایت برای درمانکده محفوظ است
                </span>
            <span class="txt10 txtLeft">
                    طراحی شده با
                    <img src="../static/images/Footer/heart.png" width="30px;">
                    توسط تیم درمانکده
                </span>
        </div>
    </div>
</div>
</body>
</html>