{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/favicon.ico" type="image/ico">
    <link href="../static/Main.css" rel="stylesheet">
    <link href="../static/style/new_comment.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/scripts/new_comment.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>نظر جدید</title>
</head>
<body>
    <div>
        <form method="post" id="comment-form" class="text-right fa-align-right">
            {% csrf_token %}
            <h1 class="text-right">{{ specialist.user.username}}نظر شما در مورد </h1>
            <br>
            <label for="text">متن نظر</label>
            <input type="text" id="text" name="text">
            <br>
            <label for="score">تعداد ستاره</label>
            <input type="range" min="1" max="5" id="score" name="score">
        </form>
        <div id="button-div">
            <button id="submit" onclick="submit({{ specialist.pk }})">ارسال نظر</button>
            <button id="back" onclick="back({{ specialist.pk }})">بازگشت</button>
        </div>
    </div>
</body>
</html>