{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicon.ico" type="image/ico">

    <title>ثبت نام</title>

    <!-- Link to styles-->
    <link rel="stylesheet" href="../static/style/font.css">
    <link rel="stylesheet" type="text/css" href="../static/style/patient_register.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">

</head>
<body>

    <!-- enter section -->
    <section id="enter">
        <div id="enter-main-container">
            <h5 class="text-right">لطفا مشخصات خود را وارد کنید.</h5>
            <form id="login-form" action="register_check" method="post" class="text-right fa-align-right">{% csrf_token %}
                <label for="username">نام کاربری</label>
                <input id="username" name="username" title="نام کاربری">
                <br>
                <label for="phone">شماره تلفن </label>
                <input id="phone" name="phone" title="شماره تلفن">
                <br>
                <label for="password">رمز عبور</label>
                <input type="password" id="password" title="رمز عبور" name="password">
                <br>
                <div class="button-div" >
                    <button type="submit" id="enter-confirm-button">تایید </button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>