<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/favicon.ico" type="image/ico">
    <link href="../static/style/patient_profile.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <meta charset="UTF-8">
    <title>{{ patient.user.username }}</title>
</head>
<body>
    <div>
        <form id="change-form" method="post" action="/update_patient" class="text-right fa-align-right"> {% csrf_token %}
            <label for="username">نام کاربری</label>
            <input id="username" name="username" type="text" value="{{ patient.user.username }}">
            <br>
            <label for="phone">شماره تلفن</label>
            <input id="phone" name="phone" type="text" value="{{ patient.user.phone }}">
            <br>
            <label for="password">رمز</label>
            <br>
            <input id="password" name="password" type="password" value="">
            <br>
        </form>
        <div id="button-div">
            <button onclick="submit_form()">تغییر اطلاعات</button>
            <button onclick="logout()">خروج از حساب</button>
            <button onclick="redirect_to_index()">بازگشت به صفحه اصلی</button>
        </div>
    </div>
    <script>
        function submit_form() {
            document.getElementById("change-form").submit();
        }
        function logout(){
            document.location = "./log_out"
        }

        function redirect_to_index() {
            document.location = "/"
        }
    </script>
</body>
</html>