{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>انتخاب نقش</title>

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/style/select_role.css' %}">

</head>
<body>
    <h1 class="text-center">شما پزشک هستین یا بیمار؟</h1>
    <div class="container-lg" id="buttons_div">
        <button onclick="redirect_to_specialist()">پزشک</button>
        <button onclick="redirect_to_patient()">بیمار</button>
    </div>

    <script>
        function redirect_to_specialist() {
            document.location = "/specialist_login"
        }

        function redirect_to_patient() {
            document.location = "/patient_login"
        }

    </script>
</body>
</html>