{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicon.ico" type="image/ico">

    <title>ثبت نام</title>

    <!-- Link to styles-->
    <link rel="stylesheet" href="../static/style/font.css">
    <link rel="stylesheet" type="text/css" href="../static/style/specialist_register.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/scripts/specialist_register.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <!-- enter section -->
    <section id="enter">
        <div id="enter-main-container">
            <h5 class="text-right">لطفا مشخصات خود را وارد کنید.</h5>
            <form id="login-form" class="text-right fa-align-right">{% csrf_token %}
                <label for="username">نام کاربری</label>
                <input id="username" name="username" title="نام کاربری">
                <br>
                <label for="phone">شماره تلفن </label>
                <input id="phone" name="phone" title="شماره تلفن">
                <br>
                <label for="password">رمز عبور</label>
                <input type="password" id="password" title="رمز عبور" name="password">
                <br>
                <label for="spec">تخصص</label>
                <input id="spec" type="number" name="spec" title="تخصص">
                <br>
                <label for="online-pay">امکان پرداخت آنلاین</label>
                <input id="online-pay" name="online-pay" type="checkbox" title="امکان پرداخت آنلاین">
                <br>
                <label for="experience-years">میزان تجربه به سال</label>
                <input type="number" id="experience-years" name="experience-years" title="میزان تجربه سال">
                <br>
                <label for="number">شماره نظام پزشکی</label>
                <input type="number" id="number" name="number" title="شماره نظام پزشکی">
                <br>
                <label for="address">آدرس</label>
                <input type="text" id="address" name="address" title="آدرس">
                <br>
                <label>روز‌های قابل رزرو</label>
                <input type="checkbox" id="week_days_0" name="week_days_0" title="شنبه">
                <input type="checkbox" id="week_days_1" name="week_days_1" title="یک شنبه">
                <input type="checkbox" id="week_days_2" name="week_days_2" title="دو شنبه">
                <input type="checkbox" id="week_days_3" name="week_days_3" title="سه شنبه">
                <input type="checkbox" id="week_days_4" name="week_days_4" title="چهار شنبه">
                <input type="checkbox" id="week_days_5" name="week_days_5" title="پنج شنبه">
                <input type="checkbox" id="week_days_6" name="week_days_6" title="جمعه">
            </form>
            <div id="button-div">
                <button id="enter-confirm-button" onclick="submit_form()">تایید </button>
            </div>
        </div>
    </section>

</body>
</html>