{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicon.ico" type="image/ico">

    <title>ورود</title>

    <!-- Link to styles-->
    <link rel="stylesheet" href="../static/style/font.css">
    <link rel="stylesheet" type="text/css" href="../static/style/specialist_login.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/scripts/specialist_logins.js" defer></script>


</head>
<body>
    <!-- title section -->
    <section id="title">
        <div id="title-main-container">
            <img src="../static/images/login/logo.jpg">
            <h4> به درمانکده خوش آمدید</h4>
            <h5>نوبت دهی آنلاین مطب پزشکان</h5>
        </div>
    </section>

    <!-- enter section -->
    <section id="enter">
        <div class="row-cols-3 container-fluid align-content-center">
            <h5>برای ورود نام کاربری و رمز خود را وارد کنید.</h5>
            <form id="login-form" class="container" method="post" action="/specialist_login_check">{% csrf_token %}
                <div class="align-self-center flex-column">
                    <div class="flex-row">
                        <label for="username">نام کاربری</label>
                        <input id="username" name="username" required maxlength="64">
                    </div>
                    <div class="flex-row">
                        <label for="password">رمز عبور</label>
                        <input type="password" id="password" name="password" required maxlength="12">
                    </div>
                    <button type="submit" id="enter-confirm-button">ورود به حساب </button>
                </div>
            </form>
            <button id="enter-introduce-button" onclick="redirect_to_register()">حساب کاربری ندارید؟</button>
        </div>
    </section>
</body>
</html>